[2018-07-27 05:46] Madhur2207 commented on #319
Welcome

On Fri, Jul 27, 2018 at 10:53 AM Aditya Parmar <notifications@github.com>
wrote:

[2018-07-27 13:17] ramluro1 opened #326 "TypeError: Cannot read property 'contain' of undefined"
I am using the example code and I am getting the following error after I type in the first 2 chars when searching for an address. I would really appreciate any help. Thank you

**
![image](https://user-images.githubusercontent.com/28219425/43322741-724b27fc-91a7-11e8-8314-372ad1333510.png)
**
Here is the code that I am using:

    <GooglePlacesAutocomplete
      placeholder='Search'
      minLengt

[2018-07-27 19:55] eahenke opened #327 "New npm release?"
I see that there's been a number of recent PRs merged in to master that fix various bugs, but the last release on npm (v 1.3.6) was 10 months ago.  Are there any plans to release a new version on npm with those fixes in the near future? Thanks.

[2018-07-28 11:49] guilhermepontes commented on #327
New version published. `1.3.8`

[2018-07-28 11:49] #327 closed

[2018-07-28 11:49] guilhermepontes commented on #326
Fixed in new version

[2018-07-28 11:49] #326 closed

[2018-07-28 11:50] #313 closed

[2018-07-28 11:50] #315 closed

[2018-07-28 11:50] #293 closed

[2018-07-28 11:51] #209 closed

[2018-07-28 11:51] #215 closed

[2018-07-28 11:51] #217 closed

[2018-07-28 11:51] #222 closed

[2018-07-28 11:51] #259 closed

[2018-07-28 11:51] #255 closed

[2018-07-28 11:53] #318 closed

[2018-07-28 11:53] #248 closed

[2018-07-28 11:53] #221 closed

[2018-07-28 11:53] #219 closed

[2018-07-28 11:53] #236 closed

[2018-07-28 11:54] guilhermepontes commented on #258
This is a not a libraries responsibility.

[2018-07-28 11:54] #258 closed

[2018-07-28 11:54] #232 closed

[2018-07-28 11:54] #233 closed

[2018-07-28 11:54] #234 closed

[2018-07-28 11:54] #240 closed

[2018-07-28 11:55] #242 closed

[2018-07-28 11:55] #216 closed

[2018-07-28 11:55] #260 closed

[2018-07-28 11:55] #267 closed

[2018-07-28 11:55] #268 closed

[2018-07-28 11:55] #269 closed

[2018-07-28 11:55] #278 closed

[2018-07-28 11:55] #281 closed

[2018-07-28 11:56] #227 closed

[2018-07-28 11:56] #256 closed

[2018-07-28 11:56] guilhermepontes commented on #266
fixed in new version

[2018-07-28 11:56] #266 closed

[2018-07-28 11:56] #284 closed

[2018-07-28 11:56] #285 closed

[2018-07-28 11:56] #283 closed

[2018-07-28 11:56] #288 closed

[2018-07-28 11:57] guilhermepontes commented on #324
PRs are welcome

[2018-07-28 11:57] #295 closed

[2018-07-28 11:57] #228 closed

[2018-07-28 11:57] #282 closed

[2018-07-28 11:57] #274 closed

[2018-07-28 11:57] #250 closed

[2018-07-28 11:57] #322 closed

[2018-07-28 11:57] #324 closed

[2018-07-28 12:02] DheenodaraRao commented on #256
@ahmadvaroqua Thanks. I will try it.

[2018-07-30 05:47] dgpoo opened #328 "ready only text input search address textbox"
i want to make input box to search address until user click on edit button so what is attribute or property to make it disable or read only?

[2018-07-30 07:33] dgpoo commented on #158
@noambonnie Thanks it worked

[2018-07-30 23:39] ramluro1 opened #329 "Search results box does not close, when function call is included in the onPress"
I am using GooglePlacesAutocomplete to set the state with location. However, when I include a functional call in the onPress, the results box does not close when I select a location. If I replace the functional call with a console.log, then the results box closes once I select a location.  Please help. Thank you

Here is a screenshot of it not closing:
![image](https://user-images.githubuserconten

[2018-07-31 00:08] eahenke commented on #327
Thanks!

[2018-08-01 16:00] alexpopa-work commented on #329
I'm not the only one having this problem then! It was driving me crazy until I opened the issues page and saw your message. It was working perfectly 1-2 weeks ago. I din't touch the autocomplete component, but after reinstalling the packages it has this problem.

[2018-08-01 17:54] PatricioBrass commented on #329
listViewDisplayed={false}

[2018-08-02 07:17] alexpopa-work commented on #329
Nice! Thanks a lot @PatricioBrass ! It would be nice to have a description for this parameter in the readme.

[2018-08-03 12:47] harsh-technoarch commented on #312
onPress={(data, details = null) => {
                // 'details' is provided when fetchDetails = true
                this.setState({
                  location: data.description
                });
                AsyncStorage.setItem("LOCATION", this.state.location);
              }}
try this

[2018-08-06 14:31] ollieh-m commented on #324
Hi @marconucara,
Could you give an example of how you added the sessionToken to autocomplete requests?
Would be really appreciated!

[2018-08-06 14:43] marconucara commented on #324
Just create an access token using uuid v4, as suggested by google documentation:

[code]

I do that on componentDidMount and probably you should refresh it on suggestion select (I destroy the component on select, so I don't need that):

[code]

Then pass it in query prop:

[code]

Check the api call in network tab, the token will appear.

[2018-08-06 14:46] ollieh-m commented on #324
Great, and thanks for such a quick response!

[2018-08-06 14:51] imarem commented on #324
thanks @marconucara

Really helpful!!

[2018-08-08 19:25] kingtross88 opened #331 "Possible unhandled Promise Rejection (id:0)"
My app stopped being able to utilize google autocomplete module. My api key is working. Not sure what was the change. I did see that this issue was open before but was closed out a couple of days ago.

![screen shot 2018-08-08 at 3 07 15 pm](https://user-images.githubusercontent.com/6825383/43859660-47303202-9b1f-11e8-8ec2-0e7aa31f98ee.png)

[2018-08-09 15:26] quandevelopment opened #332 "no streets after update to 1.3.8"
Hi,
after updating to 1.3.8. the query results don't show the streets anymore. If I go back to 1.3.6. iIr works again. Is this a bug or did you changed the API.

Best Qung

[2018-08-09 16:24] userbq201 opened #333 "Crash when JSON.parse throw exeption!!!"
My app crash when `JSON.parse();` throw an exception. Maybe add try catch block ? This is very critical. Or fork this lib ?

[2018-08-09 16:34] userbq201 commented on #333
My solution
Add protected parse function
[code]

[2018-08-10 11:41] ramuachala opened #335 "Populate search box with Current Address"
Hi, I would like to populate the search box with my current address as default value. How do I do that. I have gone through all the issues and did not find any solution.  I see the an option
[code]
for showing the default value. I want to show the current address instead of " " text.

[2018-08-14 16:44] MustaphaGhlissi commented on #16
Add this style to styles prop

[code]

[2018-08-14 20:36] rickardinho commented on #322
I have the same issue.  I think its because on the first click, the textInput loses focus, and then its only the second click that is recognised as the onPress event.
This isn't ideal - is there a way to make the click recognised even though the text input is focussed?

[2018-08-14 21:38] rickardinho commented on #228
what is the solution?

[2018-08-15 17:30] ballsac opened #336 "google places autocomplete: The provided api key is invalid"
I receive the following error when trying to use this package:
![error](https://user-images.githubusercontent.com/39440090/44162429-4a785380-a08e-11e8-88dc-afc6a5bc2dd6.PNG)

As per the directions, I have enabled the following APIs:
- Places API for Web
- Geocoding API
![apis](https://user-images.githubusercontent.com/39440090/44162680-046fbf80-a08f-11e8-8b9a-8dd654b36d70.png)

I also added the fo

[2018-08-16 04:48] the-yadu commented on #329
Its not closing for me, even after applying `listViewDisplayed={false}` in android nexus 5 emulator
<img width="380" alt="screen shot 2018-08-16 at 10 17 19 am" src="https://user-images.githubusercontent.com/7404181/44188873-b5349800-a13d-11e8-8900-d8a8acd7d9e4.png">

[2018-08-16 09:28] guilhermepontes commented on #336
You need to get the key here https://developers.google.com/places/web-service/intro

And use the component like this:

[code]

[2018-08-16 09:28] #336 closed

[2018-08-16 09:28] #333 closed

[2018-08-16 09:30] guilhermepontes commented on #332
If you are talking about the `query` prop, you can simply remove the `types` from the object.

[2018-08-16 20:34] PatricioBrass opened #337 "you have exceeded your daily request quota for this API"
Hi, have a problem with the key. I were working without  problem, I do not know what's happening.
I Change key, change project and nothing
Help please!

[2018-08-16 23:35] #337 closed

[2018-08-22 06:12] EstebanBP commented on #322
Have you found any solution or workaround for this?

[2018-08-23 02:07] cr21 commented on #322
Yes I found hack , you need to change in node modules for that

On Wed, 22 Aug 2018, 11:42 EstebanBP, <notifications@github.com> wrote:

[2018-08-23 12:34] itayb8 opened #338 "details.photos[0].getUrl() is not a function"
I am trying to get a photo url from the response.
this is my code:
[code]

any suggestions on how to make it work?

[2018-08-24 10:02] quandevelopment commented on #332
thanks for your answer.
on the first screenshot you can see the current version 1.3.9. There are no streets in the results.
in the second screenshot you can see the results, if you type a street into the search bar.

types = 'geocode' in both cases

thanks!
![bildschirmfoto 2018-08-24 um 12 00 04](https://user-images.githubusercontent.com/23075358/44579013-5d2d0f80-a795-11e8-8986-3ac8577c7b73.png)

[2018-08-25 00:16] guillermodoghel commented on #274
same here. Any clue?

[2018-08-27 04:38] ShridharCodewave opened #339 "How to restrict the search to show only country names?"

[2018-08-27 10:23] verybluebot opened #340 "ListView content (search results text) is accessible for styling"
ListView text content, meaning the results are not accessible
to style.

The desired result is to reverse the results line to `rtl`
problem is you have only access to `listView`.
`textAlign` obviously not working as its not a `Text` component,

`alignItems` throwing an error

Is there something Im missing?

[2018-08-28 14:58] dylanrhodius commented on #340
Try changing the "description" style prop, that prop affects the results in the ListView.
That worked for me.
I needed to bring the text slightly upwards as it was getting clipped so did: alignSelf: 'center'.

[2018-08-28 15:51] tienw opened #341 "how to clear text in Android"
How do I clear the text in Android?

I try to add a button to renderRightButton and make the state value = null when pressed, but it does not work. What is the right way to do it in the Android?

Thank you in advance

[2018-08-30 20:15] pcsforeducation commented on #260
Hello! This appears to still be broken on both Android and iOS. I've worked around it with this, but it still appears to be a bug:

[code]

[2018-09-01 03:07] frankfaustino opened #342 "Can't call setState (or forceUpdate) on an unmounted component."
#### Error:

`Can't call setState (or forceUpdate) on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.`

#### Description:
Pressing on a "Place" item in the listview from `react-native-google-places-autocomplete` triggers the error. I've stepped through it in Chro

[2018-09-02 12:46] gabber12 commented on #329
+1
List doesnot close if any function is called like setState ..

[2018-09-02 15:50] edant92 commented on #329
I'm having this issue too.

[2018-09-03 20:05] guillermodoghel commented on #332
same issue. even removing types, removing also `filterReverseGeocodingByTypes` did the trick

[2018-09-04 19:12] PatricioBrass commented on #329
Scrollview container must has keyboardShouldPersistTaps='always'

listViewDisplayed={false} work for my in simulator Nexus 5X and iPhone X

[2018-09-05 13:59] vipin733 opened #343 "not hide after onpress (setState) and onclick another input its trigger ?"
I have multiple iput form datepicker and now problem is that i made component Googleplace

[code]

and here is my component

[code]

[2018-09-07 08:49] alexsegura commented on #343
Just faced the same issue, looks like the behavior has changed.
It looks like you need to use `listViewDisplayed = false`.

[code]

[2018-09-13 15:04] #332 closed

[2018-09-13 22:36] quandevelopment commented on #342
Same here! But I just get a warning.

[2018-09-14 18:37] SirPhemmiey commented on #273
Did you try
 `onPress={(data, details = null) => {console.warn(details)}}` ?

[2018-09-16 00:14] SirPhemmiey commented on #329
Issue fixed?

[2018-09-16 00:16] SirPhemmiey opened #346 "Search results box does not close, when function call is included in the onPress"
The search results box does not close after selecting a location (onPress). But works fine when i do a simple `console.log`

[2018-09-16 00:17] SirPhemmiey commented on #343
@alexsegura i added that..it's not working. It still doesn't close

[2018-09-16 00:54] #346 closed

[2018-09-16 04:01] the-yadu commented on #329
The issue is fixed, It was very weird. I deleted the build folder and rebuild it. It was working. Might not be suitable for others.

[2018-09-16 09:47] dkfl1995 opened #347 "ListView doesnt overdraw other component and is invisible"
Hi guys. Have trouble with overdrawing (zIndex or so) with suggested google places listview.
Everything works well but that listView dont want to render properly.
**Expected:** to render listView over every other component.
**Actual behavior:** listView hides on other components.

Code of components where problem is:
[code]

[2018-09-16 13:38] SirPhemmiey commented on #329
Oh well, i got it working by adding `listViewDisplayed={false}` . It was `listViewDisplayed='auto'` by default

[2018-09-17 04:41] roycedot commented on #140
Why is this closed?

[2018-09-22 01:51] spacewideweb commented on #80
@mayask Can you write example how to use *setAddressText* component method?

[2018-09-22 19:43] sc4224 opened #349 "Initial Text Input covers half of Map View"
Hi, not sure how to style this GooglePlacesAutocomplete view in order to hide this massive amount of whitespace where the listView should be. It is taking up half of my mapview space when it shouldn't be there.

Here is my code:

[code]

Here is what it looks like:

<img width="349" alt="screen shot 2018-09-22 at 3 41 08 pm" src="https://user-images.githubusercontent.com/30026659/45921160-4b1abb80

[2018-09-22 23:49] gogogous88 commented on #349
got same issue here, looks like cannot avoid by change details in style. is it because the version? please help!

[2018-09-23 01:46] gogogous88 commented on #349
I get it solved by put <GooglePlacesAutocomplete .../> into a <View> Tag:
<View>
  <GooglePlacesAutocomplete ......../>
</View>
then the space margin will be gone!!!

[2018-09-23 01:58] sc4224 commented on #349
@gogogous88 can you copy and paste your tag structure? I can't get it to work

[2018-09-23 12:42] rusuly commented on #329
Had same issue. Fixed by adding `listViewDisplayed={false}` but autocomplete stopped working if I provide handler for onChangeText: `textInputProps={{ onChangeText: (e: string) => this.handleChange(e) }}`

[2018-09-23 16:07] edant92 commented on #349
@sc4224 I use this and it seems to work for me:

[code]
I've taken out all the irrelevant stuff and just left in the tag order and styles. Let me know if it helps!

[2018-09-24 02:51] #349 closed

[2018-09-24 03:00] MauriPastorini commented on #329
@rusuly I have the same issue when I have textInputProps and listViewDisplayer. How do you resolved?

[2018-09-24 06:44] rusuly commented on #329
Hi @MauriPastorini I have not fixed it yet. Looks like it's a bug that needs to be fixed. It has nothing to do with Redux and same happens if I call for example setState() in parent component.

[2018-09-24 17:01] rusuly commented on #329
@PatricioBrass, @MauriPastorini, unfortunately that's not my case.
I need to call a method on props to clear city in parent component if user changes text instead of pressing on city from list.
[code]
What I found is that when I call those methods the `componentWillReceiveProps` method is called on `GooglePlacesAutocomplete` component which recalculates listViewDisplayed based on props and ignores

[2018-09-25 06:01] Aqhamza commented on #329
Hey, I'm having the same issue, I read all solutions and also implemented those, but my issue is still not fixed.
Requirement: User should search and select city or also can select current location, home or work.
Expected Behaviour: When a user searches and selects a city from the dropdown list it should fill the field and hide the ListView, and ListView should be hidden by default. Simple
Issue:

[2018-09-25 06:03] Aqhamza commented on #329
Hey, I'm having the same issue, I read all solutions and also implemented those, but my issue is still not fixed.
Requirement: User should search and select city or also can select current location, home or work.
Expected Behaviour: When a user searches and selects a city from the dropdown list it should fill the field and hide the ListView, and ListView should be hidden by default. Simple
Issue:

[2018-09-25 14:27] husnain-crewlogix opened #350 "Not working in Android"
Using Expo App is working fine on IOS but there is a blank screen when run on Android.

[2018-09-28 09:03] r0bbarnk commented on #196
This is still a problem though. There is no way to read the input to the textfield as doing:
[code]
Will override the "onChange" and "onChangeText" in the .js file for the package.

Is there anyway around this? I need to read the input text to trigger some important functions in my app. But of course I would also like to autocomplete list to appear...

using:
`"react-native-google-places-autocompl

[2018-09-30 08:17] adarshperumal opened #351 "Current location list issue"
Can someone please help in identify where I am going wrong. The current location is getting picked up but the list is not getting shown properly.

![img_5770](https://user-images.githubusercontent.com/8089128/46255148-ec3bee80-c4dc-11e8-963b-3f8744328f34.jpg)

`<GooglePlacesAutocomplete
      placeholder='Deliver To'
      minLength={2} // minimum length of text to search
      autoFocus={false}

[2018-10-02 11:10] SirPhemmiey commented on #335
Have you solve this problem? @ramuachala

[2018-10-07 07:50] ld234 commented on #337
I'm having the same problem. Did you figure out how to solve it?

[2018-10-08 14:10] PatricioBrass commented on #337
@ld234 yes! you do have to enter a credit card in google cloud platform

[2018-10-09 05:12] janakact commented on #140
This needs to be solved one way or another.  :cry:

The only solution I see now is  to proxy the google API using an our own server and use some authentication mechanism to restrict usage.

[2018-10-09 07:02] artiumGlobalbit opened #353 "removing "powered by google" signature"
How can I remove the signature from the bottom of the search results? Thanks

[2018-10-09 09:33] reinvanimschoot commented on #351
Where you able to get this to work?

[2018-10-09 12:07] adarshperumal commented on #351
Hi @reinvanimschoot , Not yet. Would you be able to help please. Thanks

[2018-10-09 12:09] reinvanimschoot commented on #351
I was able to solve this by changing the styles of the description. I think for some reason the default text color is white, hence why you don't see any places but the rows are there.

[2018-10-09 12:10] adarshperumal commented on #351
Thanks very much @reinvanimschoot. I'll make the changes and check

[2018-10-10 08:49] adarshperumal commented on #351
Hi @reinvanimschoot , I tried setting the font color and also tried to change the background color just in case but looks like it is not getting populated. Can you please help.

![img_1370](https://user-images.githubusercontent.com/8089128/46724365-9843bd80-ccc5-11e8-98ed-7d3467a5f028.jpg)

[2018-10-11 13:27] sbaldani commented on #353
Hi! I think you can do that with prop enablePoweredByContainer.
enablePoweredByContainer={false}

[2018-10-11 17:52] #353 closed

[2018-10-12 21:43] luisrodge commented on #335
Any updates on this? I need to do the same thing.

[2018-10-17 13:47] yashwanth15 opened #354 "Not working in IOS"
i'm typing but nothing happens, it works fine in android but doesn't display dropdown in IOS.
[code]

[2018-10-17 13:58] yashwanth15 commented on #354
**SOLVED!!** by adding this
listView: {
              top:40,
              position: 'absolute',
              height: require('Dimensions').get('window').width,
              width: require('Dimensions').get('window').width,
}

[2018-10-17 13:58] #354 closed

[2018-10-23 21:32] SamMatthewsIsACommonName opened #355 "Question, is it possible to set an array of fields"
Hi,
Thanks for the plugin. is it possible to specify the fields queried for the result? We're getting billed for some additional data which isn't huge but it's beginning to add up.

https://developers.google.com/places/web-service/details

<img width="248" alt="screen shot 2018-10-23 at 4 30 17 pm" src="https://user-images.githubusercontent.com/21329063/47392120-421d4400-d6e1-11e8-988f-9f5e2f5ada4

[2018-10-31 12:15] HadrienPierart commented on #329
I have chosen to set listViewDisplayed to false when onPress is triggered and reset it to auto on input focus. This seems to work nicely without any side effect so far.

[2018-10-31 18:34] sazo2300 commented on #351
I had a similar issue. On my end the list did get populated, but looked exactly like yours. The issue was the render details property didnt work. You have:
renderDescription={row => row.description || row.vicinity} // custom description render
i had:
renderDescription={row => row.description }

Removing the render description fixed the issue for me. Havent played around to get it to work with the

[2018-11-01 02:33] 7772 opened #356 "[iOS] clearButtonMode should be included in textInputProps."
## Current

[code]

## Should be changed like this

[code]

## Usage

[code]

[2018-11-03 07:53] #351 closed

[2018-11-03 07:53] guilhermepontes commented on #356
Fixed by you on #357

[2018-11-03 07:53] #356 closed

[2018-11-03 07:54] #329 closed

[2018-11-03 07:54] #347 closed

[2018-11-03 07:55] #331 closed

[2018-11-03 07:56] guilhermepontes commented on #350
Just tested on Android, seems fine. You probably are not correctly configuring it.

[2018-11-03 07:56] #350 closed

[2018-11-03 07:56] #343 closed

[2018-11-04 09:17] msman opened #358 "types should be type - please correct it"
Hi,
Thanks for the great work. Please correct the types parameter to type of the GooglePlacesSearchQuery as that  mentioned in optional parameters here : [https://developers.google.com/places/web-service/search](url)

[2018-11-08 11:31] NayanPious commented on #342
set debounce to 0 if it is fine with your usecase.

[2018-11-12 21:27] Mojo90 opened #359 "Get not consistent results"
I use more or less the example Code and tried lots of different configurations and of course I setted the API Key with a correct one. But with the following code I just get a result for "D" and everything else seems like is not recognised? (see the video here please: https://www.dropbox.com/s/e6qntqgiqbmg1j2/GoogleAutoComplete.mov?dl=0). Cam you please support?
[code]

[2018-11-13 23:46] Mojo90 commented on #359
Sorry, quota of the key was 1.

[2018-11-13 23:46] #359 closed

[2018-11-14 04:47] heyman333 commented on #140
I'm sorry to have to say this here.
Maybe we can use https://github.com/tolu360/react-native-google-places
That library imlplements native SDKs

[2018-11-19 12:00] GerardCasadevall commented on #62
I need to format rows for example like this:

<View>
<Icon
	type="MaterialIcons"
	name="location-on"
	style={[
		Styles.smallIcons,
		{ color: Theme.darkGrayColor }
	]}
/>
   <Text>{row.structured_formatting.main_text}</Text>
   <Text>{row.structured_formatting.secondary_text}</Text>
</View>

Is it possible ?

[2018-11-19 21:00] smodekurti opened #360 "absolute"
Thanks for developing this wonderful wrapper for Google AutoComplete. However, I am having problems displaying results in Android while it works perfectly well in iOS. Please see my code below

`
render() {
return (
        <View style={styles.container} >
            <GooglePlacesAutocomplete
            placeholder="Enter City"
            minLength={2}
            autoFocus={true}
            r

[2018-11-20 18:19] proyectarse opened #361 "Is there any way to restrict api key"
Hi, Do you know any way to use a restricted API KEY on the Autocomplete for an APP. Can't find it, Thanks  lot

[2018-11-22 05:46] traviisd commented on #361
I don't see the possibility for it in this component. I think in order to use a restricted key, there would have to be native code added and not just a JavaScript library unfortunately.

[2018-11-22 11:15] proyectarse commented on #361
yes, Thanks for your answer, that's seems to be the solution... Thanks!!

[2018-11-23 07:41] #361 closed

[2018-11-23 07:42] guilhermepontes commented on #360
You can use the `elevation` prop for Android.

[2018-11-23 07:42] #360 closed

[2018-11-23 17:49] vivekshah-zymr commented on #359
@Mojo90  Happening same with me. But I am unable to set limit more than 1, for a free.

[2018-11-23 19:36] Mojo90 commented on #359
I think you need to add a credit card and there is some free quota.

[2018-11-24 22:33] moussasarr opened #363 "How to stop autompletesearch in GooglePlacesAutocomplete when a location is already selected?"
I am using react-native-google-places-autocomplete. When the user types a location, the search options appear and the user is then able to select a location.

However, the search options still appear after the user has pressed and selected a location.

How to make sure the search options disappear after the user has selected a location.

Below is my component:

   <GooglePlacesAutocomplete

[2018-11-26 05:42] avinash-pnv commented on #329
Work for me after adding listViewDisplayed={false} from 'auto'

[2018-11-26 15:35] alexpopa-work commented on #342
I have the same problem and setting debounce to 0 didn't help. The warning is still there half of the times.

[2018-11-26 16:50] niloo9876 commented on #363
I have the same issue

[2018-11-26 17:17] moussasarr commented on #363
Looks like we should find an alternative module.

[2018-11-27 09:45] vivekshah-zymr commented on #363
@moussasarr @niloo9876
Yes, I am also facing the same issue. Please let me know if you have any workaround or any other alternative.

[2018-11-27 10:11] vivekshah-zymr commented on #329
@ramluro1 @PatricioBrass @the-yadu @Aqhamza @harzkr

Hello, I am facing the same issue.
In case I just console.log the pressed details, the result popup hides. But If I use setState, the result popup doesn't hide.
Now If I use ` listViewDisplayed={false} from 'auto'` it doesn't even show the result.

[code]

[2018-11-27 10:38] jmaylin commented on #133
I had the same issue in `1.3.9`.

I solved it by removing `listViewDisplayed={false}`. (The default value is `"auto"`)

[code]

Setting `listViewDisplayed` to `false` was a trick I found here https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/343.

[2018-11-27 10:40] jmaylin commented on #343
@alexsegura Be careful with this trick. It can cause unwanted side effects

See my comment on https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/133

[2018-11-28 07:35] NicWickman commented on #338
I also need this feature.

[2018-11-28 10:13] siddheshwarghumare commented on #363
Adding listViewDisplayed='false' solved my issue.

[2018-11-28 19:19] shadynoah opened #366 "'react-native-google-autocomplete' doesn't exist in the hastle module app"
'react-native-google-autocomplete' doesn't exist in the hastle module app

[2018-11-30 04:17] it2ak commented on #355
We need just a Basic category of fields from the Place Details. Is it possible to limit the response to these fields?

[2018-12-03 21:09] lucasacw05 commented on #366
Same thing is happening with me...

[2018-12-04 05:32] vivekshah-zymr commented on #337
@PatricioBrass, I want to display a message to a user when "Daily request quota for this API is exceeded"

[2018-12-05 11:13] #339 closed

[2018-12-05 13:49] MSSPL-PiyaleeMaiti commented on #18
listViewDisplayed={shouldDisplayListView} this solution is not working for me.
Can anyone suggest any solution?
In my emulator when I tap on location from the suggestion list then the list is closed. But in my phone after clicking on location from suggestion list the list is opened as well not closed. What is the problem I can't understand, please suggest anyone any solution.
I am using :
  `` rea

[2018-12-07 05:54] roshan-p opened #367 "Can not click on location from the list on android device"
I got the list showing but I can not click on them (Can click on IOS Simulator but can not click on Android device)
![screenshot_20181207-124819_livvz](https://user-images.githubusercontent.com/26238949/49630018-ef90b080-fa1e-11e8-9dbd-f88786c2c497.jpg)

Here is my code
[code]

[code]

[2018-12-08 16:01] lucasferreiraestevam opened #369 "Not Fix for Promise Rejection ? RN v 0.55.4"
![captura de tela 2018-12-08 as 13 59 41](https://user-images.githubusercontent.com/12140708/49687928-aa897e80-faf1-11e8-8d77-db15bcb54771.png)

[2018-12-10 17:01] timhilgenstoehler opened #370 "After Update fail to animate Inputfield: non-std C++ Exception"
Hey Guys,

I updated to version 1.3.9 from 1.2.12.

I have a Animated Variable in my style settings:

`textInputContainer: {
   left: inputLeft,
},`

and then here my animated value:

`var inputLeft = this.state.inputActive.interpolate({
      inputRange: [0, 1],
      outputRange: [55, 15],
      extrapolate: 'clamp'
    });`

when I focus the input field I am calling:

`Animated.timing(this.stat

[2018-12-11 10:33] #370 closed

[2018-12-11 10:34] timhilgenstoehler commented on #370
I figured it out myself.. I forgot that i added Animated to your Component :)

[2018-12-11 15:06] rollrodrig opened #371 "Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'."
I just installed the library and then run `react-native run-android` the error pops on the console.

$ react-native run-android
Starting JS server...
Building and installing the app on the device (cd android && ./gradlew installDebug)...

WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information s

[2018-12-11 20:07] andrescarrero commented on #289
I have the same problem and seen some issues nothing solves my problem, how have you added permissions for the location in the manifest?

[2018-12-13 13:30] salvagit commented on #366
Did you try the following?

  $rm -rf node_modules
  $npm cache clean --force
  $npm install
  $react-native run-XXXX -- --reset-cache

[2018-12-14 13:33] klapperkopp commented on #335
Assuming you have a state.address value you would do it like this:

`getDefaultValue={() => this.state.address || ''}`

So for example my Input contains a config like this:

[code]

I think there is no issue here and this could be closed.

[2018-12-17 06:18] ShridharCodewave commented on #341
I believe you are trying to clear the selected location.
Add a ref to GooglePlacesAutocomplete
ref={(instance) => { this.GooglePlacesRef = instance }}

and invoke the following function inside onPress() of the button
this.GooglePlacesRef.setAddressText("");

[2018-12-18 06:20] GowthamGr opened #372 "How and where to pass client id?"
Hi @FaridSafi ,
               Now am using google api key to get locations.But my requirement is to pass client id instead of api key.please guide to do this.

[2018-12-26 10:44] Ramaraju1992 commented on #343
@alexsegura
if we use
[code]

listview will be invisible after press any item, that fine ok... but the pressed value is not selecting(not filling TextInput Field)...

[2018-12-26 21:57] BrentGrammer opened #373 "GooglePlacesSearchQuery vs. query"
Thanks for the package and work on this.  I'm a little confused as to how to use this with my project so wanted to ask for help here.

Can someone explain to me the difference between query and GooglePlacesSearchQuery and how to use them? I've been trying to get search results limited by type to 'bar' and nothing seems to be working.  What is the difference between the type prop in query and the t

[2018-12-28 19:42] DanielMarcello opened #374 "Bound autocomplete"
Hello.

Is there any way to bound the Autocomplete suggestions? for example show a list with addresses only nearest to your current location.

[2019-01-03 13:05] verybluebot opened #376 "Results scroll not working on Android"
Results scroll not working on Android (on IOS works perfectly)
`flexGrow: 1` on the `listView` not working (known Android fix)

this is my custom styles for `styles`
[code]

Using: v1.3.9
React Native: v0.55.3

[2019-01-06 16:07] steventilator commented on #367
I have the same issue. Have you managed to solve it?

[2019-01-07 13:36] gangadhartinmen commented on #267
is this working ?
I want the scrolling to happen for the list of places that displayed once the search is done.
Could some one please help me. Thanks in advance

[2019-01-07 20:03] KamauIan commented on #80
@spacewideweb we're you able to solve this?

[2019-01-07 20:21] KamauIan commented on #80
I found the solution:

You can use setAddressText("...").

On your autocomplete component get a reference to the object:
<GooglePlacesAutocomplete ref={(instance) => { this.locationRef = instance }} .../>

and then:
this.locationRef.setAddressText("New York, NY")
[https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/158#issuecomment-372740996](url)

[2019-01-08 07:57] olayinkaokewale commented on #367
I'm having the same issue. What I think is affecting the onPress is because the listview has been separated from the input text using the style in:

[code]
This is a bug. The onPress on the parent component should work for the listview irrespective of the style.
I will revert if I find any solution to it. Please do the same if you get it first

[2019-01-09 10:02] steventilator commented on #367
In my case, I had it wrapped in a `KeyboardAvoidingView` with `behavior={'position'}`. The problem was that the touchable area stayed below the keyboard. Setting `behavior={'padding'}` on Android solved the problem.

[2019-01-16 20:10] SkyRune commented on #373
Yep same problem here I have this :

[code]
But still, the result are not restricted to bars only.

[2019-01-24 08:11] komangwie commented on #369
same problem here

[2019-01-25 03:13] buchidiai opened #378 "Is there a way to restrict the type of places user can search"
Just wanted to know if i can restrict user from searching for pizza places or things or places unrelated to a specific business type? thanks

[2019-01-26 05:26] Ahmed-Imam opened #379 "how to place the autocomplete on Map"
I am trying to build the autocomplete on top of a map, but the search box keeps pushing the map down, how can i overlay the search results on the map ?

[code]
![50550819_347618482500155_1182095215993815040_n](https://user-images.githubusercontent.com/20854551/51783001-e2b25280-216d-11e9-8e14-ce7fa75b917c.jpg)

[2019-01-30 21:45] antgel commented on #288
@guilhermepontes Closed with no response? Did I miss something? Is there a supported way to do this?

[2019-01-30 23:03] antgel commented on #329
@guilhermepontes Another issue closed with no explanation? Seems several people are facing this issue.

[2019-01-31 23:38] ACHP commented on #355
I just created a PR to add this feature. https://github.com/FaridSafi/react-native-google-places-autocomplete/pull/380

[2019-02-08 01:51] pjforde1978 commented on #250
@guilhermepontes you closed this issue without comment. Is this just a #wontfix or did I miss something?

[2019-02-08 16:31] vkumarNobul commented on #248
+1

[2019-02-08 18:00] AikoRamalho commented on #374
I'm facing the same problem. Any suggestions?

[2019-02-13 04:51] tezahzulueta opened #381 "Is there anyway to add icon before the predefined location?"
To achieve the layout below.

<img width="797" alt="screen shot 2019-02-13 at 12 53 46 pm" src="https://user-images.githubusercontent.com/7932103/52687801-74072e80-2f8e-11e9-8aae-10d119222bff.png">

[2019-02-17 01:07] Averybeast1234 commented on #366
Do npm install react-native-google-autocomplete   and that will fix that issue. At least it is what worked for me

[2019-02-21 08:12] hack4mer commented on #209
Same issue, downgrading does not help

[2019-02-21 08:27] hack4mer commented on #60
Can you please tell us how did you fix the it?

[2019-02-22 08:23] scott-metalab-zz opened #383 "Tapping on currentLocation link, but saying "Don't Allow" produces unfriendly error"
I have added in the `currentLocation` prop to the GooglePlacesAutocomplete component and everything works well through its happy path.

Although, when a user taps on "Don't allow" two things are to note:
1/ The `currentLocation` link remains on the list
2/ Tapping on the `currentLocation` link renders an alert stating "User denied access to location services"

Ideally it would be nice that if the

[2019-02-22 20:14] moiseshilario commented on #358
@FaridSafi I just created a PR for this :https://github.com/FaridSafi/react-native-google-places-autocomplete/pull/384. Thanks @msman for catching it!

[2019-02-24 21:42] samuelmataraso commented on #223
the same problem here, + 1, I don't know what I need to do, for a single tap works to select an item of the list. I try with `keyboardShouldPersistTaps={"always"}` and nothing !

[2019-02-24 21:42] samuelmataraso commented on #230
the same problem here, + 1, I don't know what I need to do, for a single tap works to select an item of the list. I try with `keyboardShouldPersistTaps={"always"}` and nothing !

[2019-03-05 11:45] stevieoj commented on #381
Places the search bar inside a wrapper, then style the textinput to have no borders. You can then add whatever extra component you want, typically with flexDirection set to row on the wrapper.

[2019-03-07 17:54] ZeinabAwada commented on #381
Did you find a solution for it?

[2019-03-11 17:17] jjm340 commented on #82
I'm stilling seeing this issue not in a ScrollView, but rather inside a modal.  Any ideas?

[2019-03-12 12:32] DennisMuchiri opened #388 "List view is white and pushes down map"
Please fix the listview white background color and enable this component not to push down other components

[2019-03-13 10:24] d-spiridonov commented on #374
I think this is what you are looking for: https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/275

[2019-03-19 06:49] RWOverdijk commented on #355
This feature appears to be merged. Perhaps this issue can be closed?

[2019-03-19 06:52] RWOverdijk opened #389 "Custom data"
Hey! Perhaps this is a weird question, but yeah.

Is it possible to _not_ use the places api? So, create my own local lookup? I need to build three different searches, but I want the UI to be the same. I'd like to use this component and just tell it to use my data and not talk to the places API so I can reuse it for all three searches.

Style once, is sort of the idea. I know I can apply styling t

[2019-03-19 16:57] Lelelo1 commented on #388
Try this: `styles={{
                            container: {
                                flex: 0,
                                position: 'absolute',
                                width: '100%',
                                zIndex: 1,
                            },
                            listView: {
                                backgroundColor: 'white'

[2019-03-20 11:30] DennisMuchiri commented on #388
Sorry, already moved to https://github.com/tolu360/react-native-google-places/blob/master/BETA_README.md

[2019-03-20 11:30] #388 closed

[2019-03-20 16:33] RWOverdijk opened #390 "Blur when tapping outside of list"
How can I hide the list view when tapping outside of it? I'd like to blur when I lose focus, but it seems to maintain focus.

[2019-03-20 20:38] RWOverdijk opened #391 "Input text color change after selecting item"
After selecting an item from the flat list, the text in the input changes colour (gets white for me). Typing after that also no longer does what is expected and just returns white. I can't figure out why. Does the component get replaced with a different TextInput? If so why?

[2019-03-20 21:18] RWOverdijk commented on #391
**Update:** I found that what actually happens is that my custom styles as provided through styles={{textInput: {}} on the input text don't get applied until after I tap something in the list view. It only shows up as white because I have a much to high line height. Why wouldn't it apply the first time?

[2019-03-20 21:27] RWOverdijk commented on #391
**Update 2:** It works if I go inside of react-native-google-places-autocomplete and add `multiline` to the texrtInput.

[2019-03-21 09:27] Lelelo1 commented on #390
I am trying to solve it by adding a keyboard listener (https://stackoverflow.com/questions/51606099/how-to-detect-when-keyboard-is-opened-or-closed-in-react-native) inside componentWillMount of GooglePlacesAutoComaplete.js

Then `this.setState({ listViewDisplayed: false })` inside that listener.

Then one can use a ScrollView around the all ones components which will dismiss the keyboard anywhere

[2019-03-21 11:37] RWOverdijk commented on #391
**Update 3:** When setting `getDefaultValue={() => 'Anything'}` it also directly applies the styles.

[2019-03-21 13:54] RWOverdijk commented on #391
**Update 4:** This also occurs if I strip it all down to just a TextInput. I made an issue over at the react-native repo and I'll close this issue.

https://github.com/facebook/react-native/issues/24087

[2019-03-21 13:54] #391 closed

[2019-03-21 14:23] RWOverdijk commented on #367
The problem is the zIndex. zIndex + Android = 🔥

It might be _visible_ but it messes with the touch events. I simply added it some levels up to make sure it's on top, removed zIndex, and it worked.

[2019-03-22 00:50] dillonfromdallas commented on #373
@FaridSafi - Could we get some insight on this?

In my current project, I'm looking to allow user input for placetypes, as well as business names.

(I.e. Ideally, a user can enter "cafe", "coffee", or "Starbucks", and the AutoComplete will return a list of relevant options.)

[2019-03-22 14:04] AarshApple opened #392 "How can I remove the country name from list"
First of all thank you for building an awesome library for places API. I have integrated it successfully and now need only to know how to purge country name from the list. Example current scenario "Chicago, IL, USA". Instead i want "Chicago, IL" only. Thank you in advance for the solution.

[2019-03-22 19:43] pytyl commented on #392
If you set region in your query, this should prevent it from showing country. For example:

[code]

[2019-03-22 19:44] pytyl opened #393 "How do we use sessions to prevent request for every typed character?"
How can we use sessions with this library to prevent getting billed a request for every character typed? I tried testing a random **sessiontoken** in the query but I am still seeing requests for every typed character in google cloud console. Here is my query:

[code]

[2019-03-23 05:11] AarshApple commented on #392
@pytyl Thank you, this worked as a charm for me .Also closing this issue as it solves the problem.

[2019-03-23 05:11] #392 closed

[2019-03-26 16:47] pmarconi commented on #383
+1 👍

I am in a similar situation.
but, in my opinion, I think you should delegate to the developer what action should occur in case of error

for example, it may be the case that I do not want to show a native alert to an error of permissions not granted, and simply want to display my custom alert

thx!

[2019-03-27 11:12] ankushdec1993 opened #394 "Onpress callback not working in ios"

[2019-03-29 13:56] AarshApple commented on #322
@cr21 Did you solve the problem ?

[2019-03-29 14:04] AarshApple opened #395 "Two Issue i am facing"
I am using native base this textinput inside native base content. It raises two issues
(1) When i backspace or clear all it scrolls to top
(2)I have to click two times to get the value.

Can anyone please help on this !!!

[2019-03-30 10:02] Lelelo1 commented on #373
CurrentLocation and  predefinedPlacesAlwaysVisible props has to be true. Pressing the CurrentLocation shows the results

[2019-04-01 09:30] ankushdec1993 commented on #120
@JUnderwood1991 Did you find a solution?

[2019-04-01 15:52] claristhagerins opened #396 "How to get the TextInput value ?"
I need the TextInput value to add places manually.
When I print console.log (text.name) or console.log (text.description), the result I get is undefined.

Here is my code:

![image](https://user-images.githubusercontent.com/44046114/55341825-8f43e400-54d1-11e9-8dd9-07a7cfa04868.png)

[2019-04-02 03:26] danieljgp2 commented on #331
@guilhermepontes I start to get this error once i install rn-fetch-blob as dependecy, have you fix this issue ?

[2019-04-02 13:32] kingtross88 commented on #331
I had to download the node module and drop it in my node folder to fix the
issue. It was some time ago. I believe that is how I got it to work. sorry
it was some time ago.

On Mon, Apr 1, 2019 at 11:26 PM Daniel J. Guzzo P. <notifications@github.com>
wrote:

[2019-04-03 00:09] ChrisAlatorreT commented on #363
It did not solve mine.

[2019-04-03 00:53] nCheck commented on #270
`
hideList : false
......
.....
.....
        <GooglePlacesAutocomplete
              placeholder='Search'
              minLength={2}
              autoFocus={false}
              returnKeyType={'search'}
              listViewDisplayed={this.state.hideList}
              fetchDetails={true}
              renderDescription={row => row.description}
              onPress={(data, details = null) =>

[2019-04-03 01:00] nCheck commented on #270
`
<GooglePlacesAutocomplete
              placeholder='Search'
              minLength={2}
              autoFocus={false}
              returnKeyType={'search'}
              listViewDisplayed={this.state.hideList}
              fetchDetails={true}
              renderDescription={row => row.description}
              onPress={(data, details = null) => {
                // console.warn(details)

[2019-04-06 00:58] rmatos1 opened #397 "TextInput value not clearing"
I'm using the command this.GooglePlaceRef.setAddressText("") after press a button with the intention to clear what was typed in the TextInput. Initially looked like it was working because the TextInput returned to its placeholder, but when I type a new letter, the value showed is the sum of the what it was typed before press the button with this new letter.

Example to a better understanding:
I ty

[2019-04-06 14:59] dinosportsappdev commented on #394
I am also having same issue, looks like a bug in version 1.3.9
I resolved it by using lower version of the module
npm install --save react-native-google-places-autocomplete@1.3.6

[2019-04-06 15:01] ankushdec1993 commented on #394
Cool with check that thanks

On Sat 6. Apr 2019 at 8:29 PM, dinosportsappdev <notifications@github.com>
wrote:

--
Regards,

*Ankush Shetty*
Software Engineer at Codewave
+91  <+91+8867576306>7760885496 | ankush@codewave.in <praveen@codewave.in> |
 www.codewave.in | ankush.shetty93
<http://www.facebook.com/codewave.inc>
<http://www.linkedin.com/company/codewave-inc>
<http://twitter.com/Codewave_In

[2019-04-07 20:36] mfahad1 commented on #346
@SirPhemmiey , how did you solve this issue?

[2019-04-07 20:38] SirPhemmiey commented on #346
I will have to do a check as this is more than 6 months now.

[2019-04-08 22:20] nwaughachukwuma commented on #379
This works perfect, but when I click on a row, the click is bubbles up to the map component. This means, I cant listen for onPress on ~autocomplete. Any idea on how to resolve this?

[2019-04-10 18:44] Biplovkumar commented on #396
`onPress={(data, details = null) => { this.setState({
 address: details.formatted_address,
neighbourhood: details.name,
})`

[2019-04-10 18:50] Biplovkumar commented on #397
`text={this.state.value}`
Do it null via state. on clear clicking button.

[2019-04-11 03:40] claristhagerins commented on #396
Thanks for you help, it's work!

[2019-04-11 03:40] #396 closed

[2019-04-14 16:10] webmasterdragon opened #400 "Get zipcode, Country params"
Hi, Thanks for support this library.
I have a question regarding get data to parse zipcode and country.
Are there any ref or doc to get/parse zipcode, country strings?
Thanks.

[2019-04-15 21:45] cxrod opened #401 "New NPM release?"
Hi, I see that some of the new features like GooglePlacesDetailsQuery prop is not released yet and is useful for reduce the billing, and has been more than 6 month since the last release. Are you planning to make a release any time soon?

[2019-04-16 15:12] rmatos1 commented on #397
Thanks for your reply @Biplovkumar, but the TextInput keeps the same behaviour that I described before.

[2019-04-18 10:36] ptaberg commented on #400
I have the same question, but I need to get Country, State, City and zip code. Can I do that?

[2019-04-19 20:23] awhitford commented on #74
@Pitbi How did you fix this?  (I am plagued by this too.) :frowning_face:

[2019-04-21 14:08] GulShenR commented on #261
@moussasarr How u did?

[2019-04-23 09:25] Lelelo1 commented on #393
Make a `console.log(url)` in _request method inside GooglePlacesAutocomplete - it should print the valid url with the parameter sessionToken?

[2019-04-24 21:19] rmatos1 opened #404 "try"

[2019-04-24 21:20] #404 closed

[2019-04-24 21:24] rmatos1 commented on #404
Error when I was typing to look for something, could some admin delete this?

[2019-04-25 14:58] ericm999 opened #405 "Autocomplete Pushes Down Other Components"
First of all thanks for making this wrapper around the places api. I have an issue here where i have another component below the autocomplete search box. I simply want to elevate the list view.I already tried playing with position, zindex, elevation and overflow, but instead of elevating it is showing below the component

[code]
Thanks for an answer
![Screenshot_2019-04-25-20-26-36-732_com clutchr

[2019-04-29 08:07] VTSingle commented on #400
I need this also

[2019-04-30 09:14] haseebb commented on #400
yes i also need to get just state

[2019-05-01 13:55] papaQwesi commented on #59
where was the problem coming . I have a similar issue

[2019-05-07 10:58] sostenesg7 commented on #405
I solve this problem by making autocomplete position absolute.

[2019-05-08 09:47] AarshApple opened #408 "How can I get the search results also based on zip-code ?"
Thank you for building an awesome library. I have integrated it successfully and now need only to know how to get suggestions from zip-code . Example: When i write '35801' in  search text-input, It would give me 'Huntsville, AL' in suggestions. Thank you in advance for the solution.

[2019-05-08 10:05] #395 closed

[2019-05-20 14:10] shutnickwork commented on #400
I need this to

[2019-05-21 07:07] Gorbus commented on #351
Hi @sazo2300, I know I am a bit late but may help future users.

If you need to render adresses and not places you have to use :

 nearbyPlacesAPI={'GoogleReverseGeocoding'}

instead of

nearbyPlacesAPI={'GooglePlacesSearch'}

[2019-05-21 14:52] bill-pairaktaridis opened #410 "No loader is shown until the request completes"
Right now an empty list is returned as soon as you start typing and then the full list of results is produced when the request is completed.

This was apparently implemented in the [past](https://github.com/FaridSafi/react-native-google-places-autocomplete/pull/191) but it has since been reverted. As far as I can tell, there is no way we can customize it to show an ActivityIndicator while the requ

[2019-05-21 15:12] Tynyndil commented on #367
Having the same issue, and since my GooglePlaces component is wrapped inside a View like yours, if i don't set the position: "absolute" it get's hidden by my view. Any reliable solution for this ? I don't get how the previous comments handled this...

[2019-05-23 04:50] AarshApple opened #411 "How to remove type of places ?"

[2019-05-23 04:52] AarshApple opened #412 "How to remove type of locations from suggestions ?"
When I enter Boston, the first three “suggestions” that appear are businesses (Boston Consulting Group, Boston Blackies, Boston Market). Is there a way to eliminate businesses from the location search?

[2019-05-23 04:55] #411 closed

[2019-05-23 17:43] codeshaker commented on #273
Try this.

onPress={(data, details = null) => {
          // 'details' is provided when fetchDetails = true
          console.log(JSON.stringify(details.geometry.location));
        }}

[2019-05-24 17:10] friendlyuis commented on #265
@vivekshah-zymr
[code]

[2019-05-25 08:34] aggounix opened #413 "how to hide autocomplete listview"
I have a form with two autocomplete input and I want to hide the autocomplete listview when not using it
How to open the listview only when using the autocomplete

[2019-05-26 11:38] ddsr17 opened #414 "Is there a support for a making a custom api call, rather than directly calling in the google location api?"
Use Case: I feel this would be a common use case for many, backend would actually hit the google api's to provide a cummulative result to the UI combining the results from google as well from its own db

[2019-06-02 11:25] sseoussama opened #415 "Text Input Selection Color"
Hi guys,

Is there a way to change the default text input selection color like this one

[Selection color prop](https://facebook.github.io/react-native/docs/textinput#selectioncolor)

[2019-06-03 18:10] ahmedsadman opened #417 "Result section don't hide after click"
So, when I click one of the results, the 'onPress' is fired, but the result section don't hide. This happens only if there is an 'onPress' function defined

For example, my onPress had this simple function: `console.log(details.geometry.location)`. In this case, results were hidden after click, as expected.

Next time, my function got complicated and it had something like: `this.handlePress(detail

[2019-06-03 20:40] igor-shyrnin commented on #360
elevation? For position absolute?
Hot it solves the problem?

[2019-06-10 16:21] graemec23 commented on #390
@RWOverdijk did you find a solution to this? I have run into the same issue

[2019-06-10 16:21] PurnimaNaik opened #419 "OnBlur not called when user taps outside the GooglePlacesAutocomplete component."
OnBlur not called when user taps outside the GooglePlacesAutocomplete component. The component always stays in focus regardless of touches to other elements. It only looses focus when a new api call is made.

Can we please have onBlur being called when touch is registered out of GooglePlacesAutocomplete component?

[2019-06-12 22:18] gldev commented on #417
Yes, i made a test with a set timeout then a setState just to see what was going on, it brings it back up on re render.

[2019-06-17 08:11] i1990jain commented on #417
what did you set to false .. can you give an example of what did you do, so that we can resolve the issue.

[2019-06-17 14:44] eneasharrais85 commented on #158
@noambonnie I can´t get it to work, when I try this:

<GooglePlacesAutocomplete
ref={(instance) => { this.GooglePlacesRef = instance }}
getDefaultValue={() => {
                  this.GooglePlacesRef.setAddressText("Something")
                  }}

I get an error Cannot read property 'setAddressText' of undefined

[2019-06-18 03:33] joeljerushan commented on #343
Try my method address_components to re-usable object :)

https://gist.github.com/joeljerushan/43782c172d9bf5690cdbc5362b8fc0c5

[code]

[2019-06-18 07:51] joeljerushan opened #422 "Get Input Text if Address not found"
I have wasted a lot of time to make it work, but this didn't workout im using following code to `setState` input value but not working.

[code]
![image](https://user-images.githubusercontent.com/10111309/59662658-016fbf00-91cb-11e9-9f48-1278f6cbeab4.png)

but when it comes to setState
[code]
it is not showing dropdown
![image](https://user-images.githubusercontent.com/10111309/59662980-b3a78680-91

[2019-06-18 08:30] i1990jain commented on #417
the shouldComponentUpdate function should return false for any set state done in the onPress function
`shouldComponentUpdate(nextProps, nextState){

      if(this.state.locationData != nextState.locationData) {
          return false;
      }

      if(this.state.locationDetails != nextState.locationDetails) {
         return false;
      }

      if(this.state.address != nextState.address) {

[2019-06-18 13:34] i1990jain commented on #228
any solution to this?

[2019-06-18 13:36] i1990jain commented on #335
this does not work for me ... the value is never displayed from the state variable

[2019-06-18 13:41] i1990jain commented on #335
https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/158#issuecomment-372740996

this works perfectly

[2019-06-18 13:42] i1990jain commented on #397
use

[code]

and then use` this.googlePlacesAutocomplete._handleChangeText('');
`

this will clear the value

[2019-06-20 02:28] kingeke commented on #343
What i did to fix this was convert the component to a stateful one, then passed a function to it as a prop to set the state of the parent component onPress. Then in the shouldComponentUpdate of the GoogleAutoComplete, simple return false , here's the code

``export class GooglePlacesInput extends Component {

    shouldComponentUpdate() {
        return false;
    }

    render() {
        const {

[2019-06-20 22:09] N8sGit commented on #422
I'm having the same issue. I'm working on a solution using refs to access the node directly. It seems to do the trick. This code lets you access the input value onPress of a button

<img width="467" alt="Screen Shot 2019-06-20 at 6 02 50 PM" src="https://user-images.githubusercontent.com/20302783/59884218-ac2bdd00-9385-11e9-9337-74a5d4c0c7a1.png">

[2019-06-22 00:53] elasoshi opened #423 "Update Code when there's no origin it throw an error"
`if(this.props.query.origin !== null)`
should be
`if(this.props.query.origin !== undefined)`

it throws an error when origin is not defined in query

toString of undefined

[2019-06-23 05:22] joyridedev2019 commented on #397
i am getting _handleChangeText is not a function, when i try to call this

[2019-06-24 16:46] Umar461386 commented on #363
where add this  listViewDisplayed='false' to hide results

[2019-06-24 19:45] arnoldc opened #424 "automatically display list of nearby location on componentDidMount"
hi guys,
is there a way in the library to display immediately nearby  locations  when the component is mounted

thanks

[2019-06-26 15:30] Jhony-Reyes commented on #422
Same here!

This work
[code]
textInputProps={{
    onChangeText : text => {
        this.setState({addresText: text});
    }
}}

// And this

textInputProps={{
    onChange : ({ nativeElement: { text }}) => {
        this.setState({addresText: text});
    }
}}
[code]

[2019-06-28 08:37] scesbron opened #426 "Add an empty list label"
I made a PR for a proposed feature : https://github.com/FaridSafi/react-native-google-places-autocomplete/pull/425

The goal is to add an entry in the list when the api returns no results to give an explanation to the user and to add a callback on this entry if we want to do something.

[2019-06-28 10:03] komal1212 opened #427 "When i add place name in searchbar it cannot show that place and display error try again"

[2019-07-04 00:00] morenoh149 commented on #401
Guess you can try using the latest version in GitHub or fork lock the version for your personal use.

[2019-07-04 00:07] morenoh149 opened #428 "Document filterReverseGeocodingByTypes values"
The readme and example do not clarify the possible options for filterReverseGeocodingByTypes and what each value is good for. What is the google documentation for each value? Lets link out to that document from the readme.

[2019-07-05 02:24] Skullcan commented on #393
How do you do that? can you please give some snippet.. thanks.

[2019-07-05 12:02] arys777 commented on #367
@roshan-p any updates?

[2019-07-05 13:34] roshan-p commented on #367
Sorry I don't use it anymore because I can't find a way to fix it.
So I used autocomplete API instead and display the result in ScrollView. It is easier to custom and I don't get the problem like this anymore.

https://developers.google.com/places/web-service/autocomplete

[2019-07-05 14:15] arys777 commented on #367
@roshan-p ok, thanks for reply!

[2019-07-05 16:48] abdelfattah10 opened #429 "Divide details description into multi line"
Need to divide text into multiple lines

![Screen Shot 2019-07-05 at 6 46 49 PM](https://user-images.githubusercontent.com/25675663/60735908-6100f500-9f55-11e9-83bb-45ffc66e81da.png)

[2019-07-06 12:35] cmacdonnacha commented on #339
@ShridharCodewave , did you find out how to do this? I only want to search certain countries.

[2019-07-08 12:17] ShridharCodewave commented on #339
hello @cmacdonnacha , using the "types" prop and setting it countries inside query was supposed to work but it didn't.

                  key: "your api key",
                  language: "en", // language of the results,
                  types: "(cities)"
                }}

So I came with a workaround and passed cities which was working and from the result I filtered the country name. But I don'

[2019-07-08 14:18] ibrahimsenan commented on #417
you can do that by changing the state listViewDisplayed after you call OnPress
listViewDisplayed={this.state.listViewDisplayed}

[2019-07-10 17:09] lyudad commented on #379
Have same issue

[2019-07-10 17:29] lyudad opened #431 "conflict with watchPosition"
version 1.3.9

If turn on geolocation watcher (https://github.com/Agontuk/react-native-geolocation-service) and try search something list automatically close every time when new coordinates come.
Issue not because of re render component I have checked. Even if put just put console log autocomplete list disappear

this.watchId = Geolocation.watchPosition(
      (position) => {
        console.log('

[2019-07-11 04:54] vizFlux opened #432 "Search results text goes off-screen for long results"
I am trying to handle the search results text goes off-screen when the text of a result is too long. I've tried

[code]

and #152

but no luck as I need to render the text in a new line rather than ellipsis.

[2019-07-11 07:02] vizFlux opened #433 "Is there any way to add icon before each list item?"
Would to put an icon before each item list, wondering if it is achievable with this lib.

[2019-07-11 07:58] Coucy commented on #282
Got this error too. In my case this.props.query.origin is undefined
![Screen Shot 2019-07-11 at 10 57 16](https://user-images.githubusercontent.com/9610401/61032813-d6901980-a3ca-11e9-818c-4c84293604c9.png)

[2019-07-11 08:10] Coucy commented on #282
As a temporary solution, I set this param to null
![Screen Shot 2019-07-11 at 11 06 56](https://user-images.githubusercontent.com/9610401/61033557-6aaeb080-a3cc-11e9-971c-169ed6060ac8.png)

[2019-07-11 14:13] msqar opened #434 "How to remove border on the input?"
So there seems to be a gray border around the inputContainer, even though I attempted putting borderWidth: 0, borderColor: 'transparent', to `textInputContainer`, to `textInput`, to `container`, nothing removes that border.

Any ideas? Thanks.

[2019-07-11 14:56] msqar commented on #434
Nevermind, i found it. Had to check the lib. If anyone is under the same doubt just do this:

[code]

[2019-07-11 14:56] #434 closed

[2019-07-11 17:36] msqar opened #435 "Issue with textAlign 'right' on TextInput when pressing 'space'"
I'm customizing the text input to be textAligned right, but there's a current reactnative bug for texts that are right aligned and pressing space, the space character won't be shown, you can press 100 times the space, it will add them, but you won't see it until you press another character != than space.
Now, there might be a way to solve it by doing:

[code]

On the value prop. But I can't access

[2019-07-12 21:17] EAT-CODE-KITE-REPEAT opened #436 "Crash on web"
Because of how you export this, this module doesn't work well with expo-web.

I've changed it to export like this instead:

[code]

Now it works.

[2019-07-12 21:18] EAT-CODE-KITE-REPEAT commented on #436
Please how do I submit a PR? I get access denied.

[2019-07-19 09:02] Luckygirlllll commented on #379
This is annoying bug, I have the same problem with map!

[2019-07-19 21:16] Ahmed-Imam commented on #379
I solved this issue by wrapping the GooglePlacesAutocomplete in a View position absolute as follow
[code]

[2019-07-22 10:41] hishamhadraoui commented on #400
I need this too

[2019-07-22 14:26] lyudad commented on #379
Hello. This is not good solution. As yes - list shown correct, but any item that are on map are not clickable (try to click to item that on map and you will see that it not clickable)

[2019-07-23 00:21] danbockapps commented on #417
@i1990jain That makes the results section disappear when a result is clicked, but then later when state is set again, e.g. by the user pressing on some other button in the UI, the results reappear.

[2019-07-23 00:51] danbockapps commented on #417
@ibrahimsenan's solution worked for me. Example code:
[code]
GooglePlacesAutocomplete automatically takes care of setting listViewDisplayed to true when the user is typing their search terms.

[2019-07-23 14:19] MikaelConecto commented on #378
Would like to know how to restrict to a certain country as well!

[2019-07-23 14:26] MikaelConecto commented on #231
Not a very valid answer... You just hide them, not restrict them

[2019-07-23 14:26] MikaelConecto opened #438 "RE OPEN: Is it possible to limit the number of results that are been rendered?"
The answer was not valid and the issue was closed. How can I limit the number of results?

[2019-07-23 17:20] ebnersilva opened #440 "componentWillReceiveProps and componentWillMount are deprecate"
Hi, I am working with this lib in version: 1.3.9 and react native in version 0.60.4 and at component initialization opens a few dialog boxes stating that the above components are obsolete.

[2019-07-23 20:04] jmhungdev opened #441 "implement custom styling"
There are many react form styling component library that we can leverage: MateriaulUI, Materializecss, Semantics UI, etc. I would like to work on having the option to hook those up or build your custom ones so that people can have a better looking search bar.

[2019-07-23 20:26] jmhungdev commented on #438
The default return objects is 20. There's no way to return less than 20 (unless the data that you are querying is less than 20). However you can return more than 20 results by accessing the page_token attribute.  [here](https://stackoverflow.com/questions/9614258/how-to-get-20-result-from-google-places-api)

All you need to do is do write some javascript to limit the amount of results into an new

[2019-07-24 22:32] arcollector commented on #363
[code]

[2019-07-26 15:44] #427 closed

[2019-07-30 16:13] sa2812 commented on #168
Sorry to bring this back up after it's already closed, but the `onNotFound` prop adds a method inside the `_onPress` method and so if there are no results, it will never be called.

Is there something I'm missing? Side note, should I repost this as a new issue?

[2019-07-30 23:03] popadorin opened #443 "Android works perfect, IOS pop-up list appears somewhere under the list bellow"
I've tried to set zIndex on both Autocomplete component to be bigger than the FlatList bellow I'm using....Also tried to set up zIndex:0 to FlatList, also didn't work.

Tried to put position:'absolute' and other stuff - none did work.

**My versions:**
react-native: 0.59.5
react-native-google-places-autocomplete: 1.3.9

Can anybody help please?

[2019-08-01 16:03] FRizzonelli opened #446 "Calling triggerFocus isn't working"
Hello there, and thanks for the awesome lib :)

I'm trying to focus the textinput inside autocomplete, but unfortunately method _triggerFocus_ isn't working :( It literally does nothing.

Any advice on how to procede?

[2019-08-04 04:15] rmatos1 commented on #397
The app project was freezed for some months and only some hours ago I could try your suggestion @i1990jain. Thanks for it but the autocomplete showed the same behavior described before.
I've already gave up because it's not a great flaw at all. However I won't close the issue because others suggestions can appear.

[2019-08-05 08:46] AdamGold commented on #250
Any news on this?

[2019-08-06 05:36] Alishgiri opened #447 "navigator.geolocation.getCurrentLocation is undefined"
I have fixed this issue by the following steps,

In GooglePlacesAutocomplete.js file,

importing Geolocation from '@react-native-community/geolocation' at the top,
and
replacing `navigator.geolocation.getCurrentPosition` to `Geolocation.getCurrentPosition`

[2019-08-07 06:23] leoncheng57 commented on #436
This is a great fix ^

[2019-08-09 00:59] wired8 commented on #376
You need to give the listview a height:

[code]

[2019-08-12 21:54] Dr1992 opened #448 "Length of result list"
Hi,

I would like to know if is possible to know how many items has returned on the result list ?

[2019-08-13 08:10] shandilya1998 commented on #185
How do i change the color of the border surrounding the textInput to transparent? I've tried putting backgroundColor as well as color as transparent, but it doesn't seem to effect the styling? A little help with this too please

[2019-08-13 10:33] edrichhans commented on #98
What's the solution? Why was this closed?

[2019-08-14 05:25] CrisHemswerthThor commented on #379
I was also getting the same issue :
by giving  position:"absolute" in MapView style  and placing <GooglePlacesAutocomplete/> after <MapsView/> works for me.

<SafeAreaView style={{flex: 1}}>
                <MapView
                    followsUserLocation={true}
                    animated={true}
                    showsCompass={true}
                    mapType='satellite'
                    p

[2019-08-16 10:34] ziaulrehman40 commented on #207
I am facing this same issue, but i am converting an existing `react-native` app to [react-native-web](https://github.com/necolas/react-native-web) app.
We had separate keys for both mobile app and legacy web app, i am using the web app key in the react-native-web version, still same error. If i use restricted mobile app key, error is still the same.

This is odd, any help will be appreciated. Than

[2019-08-19 03:28] joeljerushan commented on #447
i'm using RN0.60 https://facebook.github.io/react-native/docs/geolocation and please post where i should make this changes since RN0.60 auto loads navigator.geolocation i Couldn't find the path for this change

[2019-08-19 17:00] amitbravo commented on #422
Did you find any way to update state ?

[2019-08-22 06:00] Alishgiri commented on #447
@joeljerushan Inside node_modules

[2019-08-22 13:01] lyudad commented on #379
But select items on Map not work

[2019-08-22 18:29] ajaysaini-sgvu commented on #405
@sostenesg7 Can you suggest how and where you set position 'absolute' ?

[2019-08-22 18:55] sostenesg7 commented on #405
I do not have my old code any more, i completely changed this component to work for me. But i remember code that i put is only:

[code]

[2019-08-26 15:40] choukat commented on #443
Hi, I had the same problem, after many tries, I put the autocomplete component inside <View style={{zIndex:9999}}> and it works for me.

[2019-08-28 09:53] Kaygi22 commented on #400
Check out the available options in Place autocomplete

[https://developers.google.com/places/web-service/autocomplete#place_types]here

    geocode instructs the Place Autocomplete service to return only geocoding results, rather than business results. Generally, you use this request to disambiguate results where the location specified may be indeterminate.
    address instructs the Place Autocomp

[2019-08-29 07:37] ajaysaini-sgvu commented on #196
@r0bbarnk Have you got solution for this issue ?

[2019-08-29 09:49] r0bbarnk commented on #196
@ajaysaini-sgvu I ended opp changing the sourcefiles for this repo and make my own "onChangeText".

[2019-08-30 10:53] ajaysaini-sgvu commented on #422
@Jhony-Reyes Have you found solution for this ?

[2019-08-30 18:22] tanveerparhar commented on #378
please check google places api documentation
https://developers.google.com/places/web-service/autocomplete

[2019-09-02 17:59] joedinar opened #450 "Access Results Array"
Is it possible to get the results array as a prop passed up to the parent so that I can render the list of results in a different component instead of showing them via the default dropdown menu? If so what is the prop?

[2019-09-02 19:17] joedinar commented on #450
I was able to just move GooglePlacesAutocomplete to the other component, hide the text box, programmatically set the text, and customize the default list to meet my needs. Closing the issue.

[2019-09-02 19:17] #450 closed

[2019-09-03 09:34] carmelocatalfamo commented on #447
I fixed it, refer to [@react-native-community/geolocation](https://github.com/react-native-community/react-native-geolocation#migrating-from-the-core-react-native-module)

[2019-09-04 18:46] hardeepmonty opened #451 "How do we secure the API KEY"
If we are going to use web api key, is there a way to secure it on google cloud, because someone can reverse engineer and abuse the key.

[2019-09-05 16:05] kamlesh1000 commented on #388
You saved my day !! Thank You.

[2019-09-07 11:40] amitbravo opened #452 "Only Sydney city and around search results."
What is the current behavior?
Its showing results out of radius

What is the expected behavior?
I want results only from Sydney and radius 100km only

Which versions of ReactPlacesAutocomplete, and which browser / OS are affected by this issue?
v7.2.1

I am using following code for a Sydney Taxi App: I need only results from Sydney.

 query={{

                       key: '<mykey>',

[2019-09-10 00:31] hecmonn commented on #194
Were you able to find how? @MaxInMoon

[2019-09-10 10:45] nyzszn commented on #452
`1000M =  1K`
Please first correct your radius to `radius:100000`

[2019-09-12 03:42] JacopoKenzo commented on #422
I'm doing this to detect the changes and set the state:

[code]

Hope it helps!

[2019-09-13 20:49] tvillafane commented on #367
What worked for me was the following (pseudo coded layout scheme):

<View flex={1}>
    <View style={{ position: 'relative', height: 50 }}>
        <Autocomplete style={{  container: { positition: 'absolute', height: 50 } }} />
    </View>
    <View style={{ flex: 1, zIndex: -1 }}>
        *ALL MY CONTENT*
    </View>
</View>

Make the header container which contains the autocomplete component hav

[2019-09-15 19:30] matias91 commented on #129
Hi, @mayask. Sorry to comment on a closed issue.
Looks like, for my use case, I need to combine the behaviour of **"GoogleReverseGeocoding"** and **"GooglePlacesSearch"** (search places or pick the current location).
When I use GoogleReverseGeocoding, I get the desired value for the current location, but the autocomplete stops working.
There is a way to have both behaviours?

Thanks!

[2019-09-15 22:27] PC98 commented on #183
@guilhermepontes I am having this same issue, despite setting `keyboardShouldPersistTaps` to "always". Here is my code:
[code]
Any thoughts on what could be going wrong here?

[2019-09-17 04:00] ralphevmanzano commented on #447
@Alishgiri following your instructions I got, `NativeModule.RNCGeolocation is null. To fix this issue try these steps: Run 'react-native-link' etc` do you know how can I fix this?

[2019-09-18 01:40] Alishgiri commented on #447
I will assume that you have installed geolocation package,

and if that issue you are facing is on Android (for RN <= 60.4),

`import com.reactnativecommunity.geolocation.GeolocationPackage;
protected List<ReactPackage> getPackages() {
...
new GeolocationPackage(),
...
}
`

or if the issue is on iOS (react-native link @react-native-community/geolocation should work for RN < 59.x). for RN > 60.x ad

[2019-09-18 20:21] bfarrgaynor opened #453 "Crash on RN 60+ Android"
We seem to be running into an error on RN 60 when running via android.
[code]

[2019-09-21 15:58] h4m3d66 opened #454 "how to change search result to multiline"
hi,
How can I make search result multiline instead of horizontal scroll?

[2019-09-23 07:54] theZulqarnain commented on #363
if make `listViewDisplayed` as **false** then also it showing me listView,any clue...?

[2019-09-23 10:32] theZulqarnain commented on #347
unable to touch listView, because of absolute position

[2019-09-27 08:07] aditodkar commented on #273
@ProteanDev I am able to get JSON response but I want geometry paramter also how can I get that?

[2019-09-30 12:20] tobiastornros commented on #451
Not possible. See #140

[2019-10-01 14:38] puneetBinary commented on #419
@PurnimaNaik - Have you got the solution yet?

[2019-10-02 00:07] Marcos-fa opened #455 "Is there a way to not show the keyboard automatically"
Hi, I try to show the keyboard until I click in autocomplete and also show the location button.

[2019-10-05 06:54] akashkrshukla commented on #336
None of the above working for me .

[2019-10-05 13:02] sumukhah commented on #454
Hey,
You can specify it by providing an arguement "multiline", it takes boolean values into the TextInput field

[2019-10-07 09:41] FaisalAshraf44 commented on #453
I'm experiencing the same issue. in android apk when I search for place app crashes. But it only happens once if close and reopen the app then it will work fine after crashing first time.

[2019-10-07 15:23] presencewebdesign opened #456 "navigator.geolocation.getCurrentLocation is undefined and depreciated"
**How to fix in the meantime**

**navigator.geolocation.getCurrentLocation is  now depreciated**, so you have to use @react-native-community/geolocation

Unfortunately react-native-google-places-autocomplete have not upgraded this yet.

yarn add @react-native-community/geolocation
open file location
"node_modules/react-native-google-places-autocomplete/GooglePlacesAutocomplete.js"

add this line a

[2019-10-12 10:53] aftabaig commented on #329
`listViewDisplayed={false}` works for me as well. Thanks @PatricioBrass

[2019-10-13 07:23] dejavu20180307 commented on #422
What you need to do is to implement shouldComponentUpdate, and for the state variable you set in the textInputProps onChange method, you need to return false to prevent screen from updating.

[2019-10-14 02:37] trinhhien272 commented on #196
Hi , I am having this same problem as in version 1.3.9.

Can console value textInput. But Cannot execute any method.

`textInputProps={{
          onChangeText: text => {
            console.log(text);
            this.props.screen._changeKeyword(text);
          }
        }}`

[2019-10-14 02:44] trinhhien272 opened #458 "Using onChangeText in the textInputProps breaks the autocomplete"
Hi ,
Issues "Using onChangeText in the textInputProps breaks the autocomplete" has been fixed at version 1.3.5

But I am having this same problem as in version 1.3.9.

Can console value textInput. But Cannot execute any method.

`textInputProps={{
          onChangeText: text => {
            console.log(text);
            this.props.screen._changeKeyword(text);
          }
        }}`

_Originall

[2019-10-15 06:06] ptcasa commented on #458
I have same problem too, after upgrade to react-native latest version 0.61.2, autocomplete was crashed(can't touch any more on app).

[2019-10-16 16:07] reynaldpn commented on #347
thanks @munonn430

[2019-10-16 19:56] hoonblizz commented on #456
There's a solution for this.
[code]

[2019-10-17 16:20] Hammza1 commented on #248
I got the same issue please anyone help

[2019-10-17 19:50] Ovsdrak commented on #299
You are able to do what you want by using the `renderRow` option instead of renderDescription, it is not in the documentation but it does in `node_modules/react-native-google-places-autocomplete/GooglePlacesAutocomplete.js` line 528 aprox.

[2019-10-19 04:33] paras-kc commented on #324
what is this a parameter a in the function

[2019-10-22 23:08] Marcos-fa commented on #354
where and how did you put it?

[2019-10-23 00:22] Marcos-fa opened #460 "Not working inside a row"
Not working in a row and flexGrow

I tried with position absolute but flexGrow not worked

[code]

_edited to remove api key and put code in a code block_

[2019-10-23 17:37] jkdc commented on #405
Hi, Does work this for anyone? I can't touch any row from listView that overflow component view on android. any ideas to fix?

[2019-10-24 12:50] ws7one commented on #405
The absolute position works, but weirdly it looks like this
![image](https://user-images.githubusercontent.com/41139390/67487004-c1de4580-f68a-11e9-9213-5f0d29259c8e.png)

The background, given is a solid color, still it's not fully opaque. Plus when i try to click on the first or second element, the textbox behind it gets in focus.

[2019-10-30 12:50] zapcriativo opened #461 "Use autocomplete with 2 fields"
Hello,

It is possible to use the search in 2 fields, but the return be in the same view as the example of the image?

I want can autocomplete the source and destination of the user

Regards!

![image](https://user-images.githubusercontent.com/7153803/67859543-aba50f00-fafa-11e9-93cf-b8354019650b.png)

[2019-10-31 05:50] ws7one commented on #395
Were you able to fix this @AarshApple ??

[2019-11-02 11:20] Tilenozz opened #463 "Autofocus didnt'work"
Goodmorning !

autoFocus={true}
seems to be broken !

Is there any solution to move to the map location selected ?
Thanks

[2019-11-03 10:46] Tilenozz commented on #463
My bad ! Wrong !

[2019-11-03 10:46] #463 closed

[2019-11-06 12:42] Adr1ann commented on #454
@sumukhah  isn't working. Any solution here?

[2019-11-06 12:51] Adr1ann commented on #429
Hi! Any solution here?

[2019-11-12 05:05] vnanaware opened #467 "Unable to get location list in for iOS & Same code working for Android?"
Please help to sort out this problem.

[2019-11-12 10:01] piyush565 opened #468 "How to disable current location label on curser focus android"
<img width="318" alt="Screenshot 2019-11-12 at 3 27 44 PM" src="https://user-images.githubusercontent.com/15083291/68661675-5557b780-0561-11ea-9780-7c069107d235.png">
When user taps on search bar, keyboard appears but also current location label appears at right top.
Question: How to remove or hide that current location marker lable on top right.

[2019-11-12 16:27] MayoudP commented on #339
This is a needed basic feature here . Some helps ?

[2019-11-13 06:18] #468 closed

[2019-11-14 01:21] croaky opened #469 "Wrap text in autocomplete list?"
Is there a way to wrap long addresses in the autocomplete list?
I've tried a few `styles` props variants but haven't found the right combo yet.

For example:

[code]

[2019-11-14 14:52] CmDogsInc opened #470 "Change "currentLocationLabel" with current street name"
I've added a state on currentLocationLabel

` currentLocationLabel={this.stateCurrentStreet}`

but return "Current location"

[2019-11-14 21:16] croaky commented on #469
Ended up with:

[code]

[2019-11-14 21:16] #469 closed

[2019-11-15 00:33] SnidelyWhiplash commented on #324
Heads up that you also need to pass the `sessiontoken` in the Details query for any of this to have an affect, afaik.

[code]

[2019-11-18 11:30] hopewise opened #471 "Cross-Origin Read Blocking (CORB) blocked cross-origin response"
When I try to access the service, I get this error:

[code]

Has any got this issue with Android?

[2019-11-19 17:08] bfarrgaynor commented on #453
Has there been any movement on this one? I'm having a heck of a time with this.

[2019-11-21 08:25] KIbanyu commented on #140
How do i use the Android apps restricted API in my application?
Error - his IP, site or mobile application is not authorized to use this API key. Request received from IP address 197.XXX.XX.XXX, with empty referer

[2019-11-24 04:56] HeroSony opened #473 "Cannot read property 'getCurrntPosition' of undefined"
react-native@0.60.5
react-native-google-places-autocomplete@1.3.9

[2019-11-25 08:32] bYemma commented on #187
@guilhermepontes @PatelAtit2017 Is there a solution to this question?

[2019-11-25 16:06] MayoudP opened #474 "Only display COUNTRIES name (and not city or federal states)"
Hello quick question,
I wasn't able to find a solution for this problem.
Basically : I want to display only the countries 's name matching with the filter.
* Img =>
<img width="340" alt="Capture d’écran 2019-11-25 à 17 01 54" src="https://user-images.githubusercontent.com/48682041/69556614-51865500-0fa5-11ea-9298-13571580b8f2.png">

For example above, it should not display `Frankfurt, Franklin,

[2019-11-25 21:34] tmaly1980 commented on #417
This library sadly is overcomplicated, glitchy, and poorly documented. Thanks for the tip!

[2019-11-26 00:00] i1990jain commented on #417
Is it a violation of code of conduct?

[2019-11-27 14:50] mtalhagaoglu commented on #458
hi! has anyone been able to solve this problem?

[2019-11-28 04:20] archana-iron opened #475 "VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead."
After upgrading to react-native 0.61 I get a lot of warnings like that:

What is the other VirtualizedList-backed container that i should use, and why is it now advised not to use like that?

It comes when I am clicking on autocomplete.

[2019-11-28 09:26] archana-iron opened #476 "How to check input text changes using this package? What prop is used to detect text input changes?"
I have created a custom component for this and want to detect input text changes. How I can detect input text changes without using "onPress" prop. Because here I want to add the prop for input changes.
Please help!

[2019-11-29 04:56] archana-iron commented on #475
Any Solution??

[2019-11-30 15:04] felipearosemena commented on #476
@archana-iron You can pass a `textInputProps` prop to listen to events on the underlying input

[2019-12-02 20:50] Rhomennik commented on #475
ONly problem :(

[2019-12-02 21:11] Rhomennik opened #477 "Scrollview with GooglePlacesAutocomplete doesn't work!"
I was wondering if anyone knows how I can hide this error? I even tried to render a custom list but it still gives the error why it loads _renderRow

![image](https://user-images.githubusercontent.com/24496303/69995547-0cc36680-152f-11ea-97b1-0c9af162bf38.png)

### Example code

[code]

[2019-12-03 15:09] MariuszSpeednet opened #478 "List disappears when I try to select result [1.4.0]"
Using example code I cannot select any result, because every time I try to select it, a list disappears. Happens only after update to 1.4.0.

[2019-12-04 05:49] archana-iron commented on #476
Yes, I am using this, but can you explain to me how can I call a function on input change?

[code]

[2019-12-04 09:12] octobus55 commented on #478
I also have same issue, when downgrade to 1.3.9 it resolves, but in 1.4.0 onPress doesn't work and list dissappers.

[2019-12-04 09:50] MayoudP commented on #474
Found a trick, I used a custom rendering for the results received.
`renderRow={row => this.renderRow(row)}`
and
[code]
So checking that the type of the result is well a country and not a locality or whatever else... It would be nice tho maybe to add this feature directly in the props of the lib like ==>

name  | type
 ------|-----
**onlyShowCountry** | boolean

or

[2019-12-04 09:50] #474 closed

[2019-12-04 17:29] MayoudP commented on #248
Any update on this ?

[2019-12-05 09:01] jebinILeaf commented on #476
textInputProps={{
                onChangeText: txt => {
                  //this.setState({ searchText: txt });
                  this._yourFunction(txt)
                }
              }}

[2019-12-05 09:59] archana-iron commented on #476
I got a solution, just need to return "onChangeText" value here, because it's not a function type.
So I have returned on change value and called a function inside that section like this::
[code]

[2019-12-05 12:44] aymkin opened #479 "Input does not support non latin characters"
For example: Cyrillic or Arabic letters cannot be entered in the search input

[2019-12-05 14:05] aymkin opened #480 "Warning: componentWillMount has been renamed"
Looks like the library should use the modern react hooks instead of deprecated one

[2019-12-05 19:39] sohel-tech opened #481 "want to filter by multiple countries"
i like to search in two countries , canada, usa

[2019-12-06 00:13] wellingtonblessed commented on #478
I also have the same problem on 1.40. My temporary solution until this is resolved  is to comment out the `onblur` prop on the TextInput in the package itself.

[2019-12-06 03:08] edoantonioco commented on #273
That geometry is not inside details anymore, is there any reason why?

[2019-12-06 03:25] edoantonioco opened #482 "onPress does not returns the geometry property"
When `fetchDetails={true}`, `details` prop of `onPress` should show all this information https://developers.google.com/places/web-service/search#PlaceSearchResponses.

But this is an example of what it currently shows:

[code]

[2019-12-06 12:07] #477 closed

[2019-12-07 13:23] dharam1890 commented on #273
**@edoantonioco**  try to replace

`GooglePlacesDetailsQuery={{
    fields: 'formatted_address',
 }}`

to

`GooglePlacesDetailsQuery={{
    fields: 'geometry',
 }}`

[2019-12-07 15:15] owaisiqball commented on #482
Its probably because of the information being returned from Google Places Api.
Anyways you can use  [react-native-geocoding](https://www.npmjs.com/package/react-native-geocoding)  to get geometry using the formatted address.
I hope it helps.

[2019-12-08 15:14] hasnainbaloch commented on #185
textInputContainer: {
            borderTopWidth: 0,
            borderBottomWidth: 0,
            backgroundColor: "#ffffff"
          },

[2019-12-09 12:04] akhlopyk commented on #482
I have got the same issue!
For react-native 59.9 works fine, once I updated RN to 61.5 it is like you have

[2019-12-10 08:09] amitbravo opened #484 "How can I have custom predefined place with editing button icon ?"
I need to provide an edit button with predefined places to add details / address as shown in the image
<img width="320" alt="PNG image" src="https://user-images.githubusercontent.com/16644357/70507436-5ecd4300-1b52-11ea-90ad-822cc5c4370c.png">
how Can I add an edit button like this ? Plus, can I add home and work icons too ?

[2019-12-10 17:10] sohel-tech opened #485 "i want to restrict just for two countries"
components: 'country:ca'
How can i add one more country in the above line

[2019-12-11 05:38] lookingsoft commented on #456
i think you should update your package with geolocation from @react-native-community and avoid using navigator.geolocation.

[2019-12-12 09:21] lmuntaner commented on #480
Yep, I have the same warning 🙄

[2019-12-12 10:17] talmog commented on #405
@ws7one I solved that by adding
[code]

[2019-12-12 14:50] #405 closed

[2019-12-12 14:50] guilhermepontes commented on #480
I'll be releasing the version 2.0.0 of this package soon

[2019-12-12 14:50] #480 closed

[2019-12-12 14:51] guilhermepontes commented on #456
I'll release a new version of this package soon, all the deprecated warnings will be soon gone!

[2019-12-12 14:51] #456 closed

[2019-12-14 07:17] amitbravo commented on #379
How do you getting geometry location such as details.geometry.location.lat ? My details var is only fetching formatted_address, this is the below result data when I selected Sydney Airport from the list
[code]

for following onPress method
[code]

[2019-12-16 19:20] #379 closed

[2019-12-16 22:06] henrique010 commented on #482
@edoantonioco remove that

...this.props.GooglePlacesDetailsQuery,

in line 289
this solve my problem

[2019-12-17 12:59] dihan commented on #478
Have the same issue on 1.3.9.

I did notice that if the state changes on that component (in my case it was the parent) then the selection dropdown will reopen and address can be selected.

[2019-12-17 15:21] dihan commented on #478
Further messing around I found that having Scrollview causes this problem.

[2019-12-18 09:51] rizshivalli commented on #485
components:['country:gb', 'country:us'],

[2019-12-18 10:10] manindersinghsaggu commented on #482
@edoantonioco  you can also remove

GooglePlacesDetailsQuery from where you're using Google Places Component

  GooglePlacesSearchQuery={{
                      // available options for GooglePlacesSearch API : https://developers.google.com/places/web-service/search
                      rankby: 'distance',
                      types: 'food',
                    }}
                    // GooglePl

[2019-12-18 13:15] igibliss00 opened #486 "Not working with KeyboardAwareScrollView"
I'm currently using `KeyboardAwareScrollView` with `react-native-google-places-autocomplete` and only when the auto-complete component is within `KeyboardAwareScrollView`, the drop-down suggested addresses from Google does not respond to presses.  When the aut0-complete component is without `KeyboardAwareScrollView`, the component works as expected.

The expected behavior is that when the suggeste

[2019-12-18 19:47] sohel-tech commented on #485
components:['country:gb', 'country:us'] --- This one is not working.

bit i found the answer in another issue ----components: 'country:ca|country:us'

[2019-12-19 04:02] noway commented on #281
[code]
works for me

[2019-12-19 05:24] sunwooz commented on #478
commenting out the onBlur property freezes my detail list :(

[2019-12-20 00:42] juanlet commented on #405
I want to add that in some cases the list gets in the way of the input, you can

import {
  heightPercentageToDP as hp,
} from 'react-native-responsive-screen'; //to keep it responsive

listView: {
          position: 'absolute',
          backgroundColor: '#FFF',
          zIndex: 10,
          marginTop: hp('8%')
        },

And sometimes if your font is a little bigger you need to give each row

[2019-12-20 04:49] rizshivalli commented on #485
close the issue

[2019-12-20 06:39] juanlet commented on #478
Yeah, it's the scrollview 100%...

[2019-12-21 15:10] gdedieu92 opened #487 "version 1.4.0"
there is a bug in line
The thing is that as soon as a user tap in list of results, the blur execute and hide the list, but you dont catch the onPress event sooo never search for address... So comment this line make the plugin works in version 1.4.0.

[code]

[2019-12-22 05:50] sunwooz commented on #487
Same for me. The onpress function never gets called when selecting a listing.

Doesn't seem to work for me even after commenting out the line, though.
I'm on 1.4.0.

[2019-12-22 05:53] sunwooz commented on #478
I'm not using scroll view, but I am using a FlatList.

[2019-12-22 09:26] malikgenius commented on #487
Same here, had to go back to 1.3.9 version ... and Please update Hooks for 0.60 React, that warning for componentWillReceiveProps has been renamed is bothering ... Thanks

[2019-12-22 13:02] malikgenius commented on #478
Any solution for this, i have updated to 1.4.0 and got this issue, now i deleted and re installed 1.3.9 but same issue ....

[2019-12-22 13:16] malikgenius commented on #487
Remove onBlur from original package file .... GooglePlacesAutocomplete.js

<TextInput
              ref="textInput"
              editable={this.props.editable}
              returnKeyType={this.props.returnKeyType}
              keyboardAppearance={this.props.keyboardAppearance}
              autoFocus={this.props.autoFocus}
              style={[this.props.suppressDefaultStyles ? {} : defaultSty

[2019-12-22 17:07] dihan commented on #478
**wellingtonblessed**  trick worked for me. commenting out onBlur on node_modules

[code]
As i mentioned earlier i had other TextInput fields with this and when the state changed the google-place-auto-complete dropdown menu re-activated. You might be able to play around with state in the component to trigger a re-render.

` onChangeText={value => this.setState({ lastName: value })}`

[2019-12-22 17:51] sunwooz commented on #487
@malikgenius That doesn't seem to work for me. Still can't click on a result unless it overlaps the input field.

[2019-12-24 01:56] BrianIto commented on #478
I downgraded to 1.3.9 and it worked fine! But now it doesn't work even in it, just like @malikgenius. I have a ScrollView here too. But, it's still a component, right? The behaviour is still the same, and the ListView Component always worked well inside another ListView, I really can't understand why is it triggering onBlur before onPress...

And why this downgrade worked for a while and then... b

[2019-12-25 12:39] murtazaezzy commented on #158
@noambonnie Thanks a TON !! Saved my day :)

[2019-12-26 00:40] fpolica91 opened #488 "Unable to use in two different pages"
I am planning to use the autocomplete input in two pages, I do not need a map view, I simply need to provide the user with options upon typing. On my signup page, the google places autocomplete works fine, however if I include this in any other page, nothing appears upon typing.

[code]

as I mentioned this works as expected on one file, with no issues. however when including it in any other page

[2019-12-27 15:08] DzmitryUr commented on #478
+1 here with the same issue.
I have scrollview and get warning also:
`VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed container instead`

Commenting out the onBlur prop works for me.

[2019-12-31 09:18] smartsuhani commented on #454
textInputProps={{multiline: true, blurOnSubmit: true}}

[2019-12-31 12:13] abhimanyuPatil commented on #140
I dont get any solution for places.
My api keys are restricted with package name of my app **'com.myApp'**

I tried adding following lines in AndroidManifest.xml
`<meta-data android:name="com.google.android.geo.API_KEY" android:value="<My_API_KEY"/> and still not working.
`
any one has any solution or is there an issue with react-native with restricted keys
Or is it that android restricted keys do

[2019-12-31 16:03] atlanteh commented on #140
Unfortunately web apis cannot be restricted by package name. The only solution is to use a module that uses the android/ios sdk and with that you'll be able to restrict your api

[2020-01-03 02:01] mylearning76 commented on #347
Did you get any solution?

[2020-01-04 10:19] iamshadmirza commented on #248
Same issue, `onNotFound` is not getting triggered. I want to add a simple text instead of result rows if there is no result. @guilhermepontes

[2020-01-05 05:38] caleb-42 commented on #458
@trinhhien272 This problem tends to come up when you are changing state from within your onChangeText prop. Store the text argument in a class property or variable (for example this.text) and use a button to carry out an onPress action with the following command - this.props.screen._changeKeyword(this.text);

[2020-01-06 07:25] vendeesh commented on #475
I have faced sam issues. Have any one got solution?

[2020-01-06 08:24] archana-iron commented on #475
Not yet :(

[2020-01-07 09:56] ajaysaini-sgvu opened #489 "How to restricted API Key for android and iOS"
Hello Team,

I am using this plugin for places suggestions. I have restricted by API Key using SHA1 and bundle id on google developer console.

I am getting below error after setting restrictions:

I tried by setting the origin like, then it doesn't give list of places.

[code]
curl -H "referer:https://www.xxxx.com" https://maps.googleapis.com/maps/api/place/autocomplete/json?&input=123&key=xxxxxx

[2020-01-07 17:08] aymkin opened #490 "Warning: componentWillMount has been renamed, and is not recommended for use"
See https://fb.me/react-async-component-lifecycle-hooks for details.

* Move code with side effects to componentDidMount, and set initial state in the constructor.
* Rename componentWillMount to UNSAFE_componentWillMount to suppress this warning in non-strict mode. In React 17.x, only the UNSAFE_ name will work. To rename all deprecated lifecycles to their new names, you can run `npx react-codemod

[2020-01-08 05:20] ritambrata commented on #273
Thank you @dharam1890

[2020-01-08 17:43] ceddybi commented on #436
+1 for the export

[2020-01-09 07:03] mehdihussain9 opened #491 "autocomplete is not working but i'm getting the location names"
I'm getting the location names while typing in the search box. but when I clicked or selected one of the locations it not responding and also that clicked or selected location not displaying on the search bar (input field).

[2020-01-09 13:09] paras-kc commented on #174
I would say if you can make a progress bar under the textinput container or something custom so that whosoever wants to add a loader can add as per their own accordance.

[2020-01-10 07:15] ivp1989 opened #493 "getCurrentPosition is not working, navigator is undefined"
**GooglePlacesAutocomplete.js:191**
`navigator.geolocation.getCurrentPosition(`

[2020-01-10 14:26] graham-pyett commented on #490
#442

[2020-01-10 19:56] prog-24 commented on #493
You just need to update your geolocation reference

`yarn add @react-native-community/geolocation`

Then in your main App.js

`navigator.geolocation = require('@react-native-community/geolocation');`

Don't forget `pod install` for iOS

[2020-01-11 18:51] fierysolid commented on #478
For those wondering, you can leave the `onBlur` prop alone and just add `keyboardShouldPersistTaps="handled"` to your **ScrollView**. Hope this helps someone

[2020-01-12 16:53] r-julien commented on #478
@fierysolid Great that's working for me, I didn't know this prop. Thank you!

[2020-01-13 12:55] natanaeladit commented on #475
temporary solution

`import {YellowBox} from 'react-native';`

`YellowBox.ignoreWarnings([
      'VirtualizedLists should never be nested', // TODO: Remove when fixed
    ]);`

[2020-01-13 18:24] adtm commented on #490
#442 Should address, but it has been been there for 2 months sitting in place.

[2020-01-15 08:37] enguerranws commented on #429
Actually, this component can't do it right now, as it uses a `<Text>` component to render the `description` (https://github.com/FaridSafi/react-native-google-places-autocomplete/blob/master/GooglePlacesAutocomplete.js#L555).

A good solution would be a PR that modify that checks if `rowData` is a string, and uses a Text, or something else, and uses a View component.

[2020-01-16 18:18] Jojr commented on #400
I don't know if this will help someone, but I needed to show Cities, Country, ZIP CODE on search box.
Then I changed **types: 'address'**  to **types: 'geocode'** in query:

`query={{`
        `key: defaultConst.googlePlacesApiKey,`
        `language: 'pt_BR', // language of the results`
        `types: 'geocode' // default: 'geocode'`
     ` }}`
Now the search results coming as Country, ZIPCODE,

[2020-01-20 06:16] ws7one commented on #480
Any ETA on 2.0.0

[2020-01-20 06:53] RonakPatel0 opened #494 "Can not read property 'getCurrentPosition' of undefined"
When I press on Current location so i get this error
![Screenshot_2020-01-20_122122](https://user-images.githubusercontent.com/57698251/72704745-a3032880-3b7f-11ea-8430-fdce9a8c4c62.jpg)

[2020-01-20 10:21] CharlotteRdn commented on #475
I face the same issue, did you resolve this ?

[2020-01-20 15:09] chassierPA commented on #494
Hi @RonakPatel0

I'm also getting this error, and I didn't find a way to make it work !

[2020-01-21 06:16] #494 closed

[2020-01-22 10:44] lukBakTsh commented on #491
+1

[2020-01-23 11:43] mayupat13 commented on #475
I too have same issue. Any solution?

[2020-01-23 19:13] R1D3 commented on #491
same issue .....

[2020-01-23 23:07] NCMoseley commented on #394
I'm also having this problem, rolling back helped out. Does anyone have any insight?

[2020-01-24 08:17] ashryOlarm commented on #388
If you still have this issue try to give other components negative zIndex.

[2020-01-24 08:18] ashryOlarm commented on #347
If you still have this issue try to give other components negative zIndex.

[2020-01-25 14:30] Deboracgs commented on #493
This is works

[2020-01-26 11:58] amitbravo commented on #486
did you find any solution ?

[2020-01-27 20:49] CmDogsInc commented on #443
yep it works, but the element below the Autocomplete component with your solution  were under neath

[2020-01-28 04:25] ranggabadrus commented on #491
same issue. any update?

[2020-01-28 13:19] safeer-ahmed opened #495 "Update predefinedPlaces"
Is there any way to update predefinedPlaces? I tried setting predfinedPlaces using state, but upon updating state, it's not updating list.

Code is:
`<GooglePlacesAutocomplete predefinedPlaces={this.state.savedList}
                            //other attributes
                        />`

[2020-01-29 06:24] glintpursuit commented on #487
@sunwooz did you found the solution ?

[2020-01-29 06:29] sunwooz commented on #487
@glintpursuit Unfortunately, just had to roll my own autocomplete input.

[2020-01-29 08:12] glintpursuit commented on #487
@sunwooz so you created your own version ?

If I switch off onblur its working.

[2020-01-29 08:13] Rajdeepc commented on #419
Any update on this?

[2020-01-29 18:52] Aryk opened #496 "Current Location only displays results when Input is in focus"
Clicking on the current Location "blurs" the component which set listViewDisplayed:false.

The results get "loaded", but not displayed until you re-focus the input component.

I'm not sure if this was intentional but it basically means nothing will happen unless the user clicks on the input box again, triggering the _onFocus function again.

I'm trying to find a hack around this:

[code]

I commen

[2020-01-29 19:31] Aryk commented on #496
I believe you need to change:

[code]

to

[code]

on `_requestNearby`

[2020-01-30 08:06] Rajdeepc commented on #458
Hi @caleb-42 / @trinhhien272

My use is when Google Places API doesnt return any response  watever the user types in i am sending it back to my parent component like :
[code]
But while the Google Places API gives response, the response doesnt show up.
Commenting out
[code]
it works. Any solution how can i achieve this try catch scenario?

Code below:
[code]

[2020-01-30 14:43] MayoudP commented on #446
Hello, find a trick ?

[2020-01-30 15:46] FRizzonelli commented on #446
@MayoudP Unfortunately nope :(

[2020-01-30 15:55] MayoudP opened #497 "Limit number of row rendered ?"
By any chance, can I set a limit concerning the row rendering, for example to display only 3 row max ?
I already succeed to filter the result a bit like that :
[code]

and if the result doesn't have enough occurence with the textInputField, I'm not displaying it... But it's not limiting the number of row rendered...

Any ideas ?

[2020-01-31 04:19] nonstuff commented on #486
yes i found the solution with nestedScrollEnabled={true} add to scrollview
you can see here
https://github.com/nonstuff/react-native-google-places-autocomplete/blob/master/GooglePlacesAutocomplete.js

[2020-01-31 10:39] conor909 commented on #488
I'm also getting no results with no errors.  I'm typing text into the input but nothing is happening.

[2020-01-31 13:31] Zainabalhaidary commented on #491
same issue

[2020-02-01 09:04] arsalan-arshad commented on #486
yes because of this module is using scroll view into flatlist.
so i found a solution to creating a new custom autocomplete list :D

[2020-02-01 12:18] amitbravo opened #498 "Clear text button not showing up in Device but simulator"
This is a screenshot from a simulator , I do not see this clear text/close list button in device (testing on iOS 13.3 iphone SE) but in simulator . How can I get it in device too ?
![Simulator Screen Shot - iPhone 11 - 2020-02-01 at 17 41 11](https://user-images.githubusercontent.com/16644357/73591937-c7191f00-451a-11ea-9f06-5ba2e0c34520.png)

[2020-02-03 10:45] samernady commented on #186
hey, any update on this?
Whenever I pick an address even if it has the apartment number the autocomplete results override the apartment number and only show the building number.

[2020-02-03 17:19] carlossuds opened #499 "Not showing predictions list with Expo"
I have my component but the List showing the predicted places based on what I write is not showing.
Any ideas?

    "expo": "~36.0.0",
    "react-native": "https://github.com/expo/react-native/archive/sdk-36.0.0.tar.gz",
    "react-native-google-places-autocomplete": "^1.4.0",
    "react-native-maps": "^0.26.1",
    "react-native-maps-directions": "^1.7.3",

**PS**: I am using Expo

[code]

edit:

[2020-02-03 23:21] austin1134 commented on #499
I'm also experiencing this in expo.. I've tried all the examples along with some additional examples and tweaking.. but no luck with show results. If I'm lucky I can get the component to show the result for two seconds after I initially type but after that nothing shows..

[2020-02-03 23:30] carlossuds commented on #499
I experienced something like that too. I was looking for a solution then when I came back to the application, the predictions were showing. It only lasted until I typed the next character then it all vanished again.

[2020-02-04 12:18] odaiderawi commented on #408
Hi @AarshApple
Did you find any solution for your question ?

[2020-02-04 20:27] geoff-idyaflow commented on #499
Having similar issues, but the cause is related to the google api key and not necessarily this package. The error I'm getting a REQUEST_DENIED error - "API keys with referrer restrictions cannot be used with this API."

[2020-02-04 20:29] geoffmphillips commented on #499
I'm having similar issues but the cause seems to be the google api key, not this package. When looking at the response from google places I'm getting a REQUEST_DENIED error "API keys with referer restrictions cannot be used with this API."

[2020-02-05 09:26] blatinier commented on #481
In the props of your component this should do the trick.
[code]
If it does please close your issue ;)

[2020-02-07 02:17] oaugusto256 commented on #478
Thank you @fierysolid! That worked for me as well. 😃

[2020-02-07 09:21] lukBakTsh commented on #499
@carlossuds The example you provided is working correctly, only your **API key is invalid**. I think your problem has nothing to do with Expo.

[2020-02-07 18:52] kwameaj67 commented on #499
Alright, same problem. got me thinking the whole night looking for the solution

[2020-02-07 20:36] carlossuds commented on #499
When I look at my google api keys, the amount of requests keeps increasing whIle I type locations and nothing shows up. That's why I thought it is (or should be) working fine. And also one of my instructors said my code had no issues and it could be related to Expo. I really dont know, if its the api it shouldnt be working running with the cli, right?

[2020-02-07 20:54] kwameaj67 commented on #499
same with mine but im yet to look at my api

[2020-02-08 09:15] kopax commented on #475
I have a ScrolView within a ListView and I get this error.

[2020-02-10 03:05] sharma-archu commented on #475
not yet.

[2020-02-10 14:17] yuritoledo commented on #475
+ 1

[2020-02-11 07:57] ykal commented on #446
Hello there,

First, get a reference to `GooglePlacesAutocomplete` Component and the call `triggerFocus` like bellow.

`
const [autoComplete, setAutoComplete] = useState(null);

// when ever the coponent is mounted the text input will be on focus
 useEffect(() => {
        if (autoComplete !== null) {
            autoComplete.triggerFocus();
        }
    }, [autoComplete]);

<GooglePlacesAutocomp

[2020-02-11 09:09] samurailens commented on #354
Add this in Styles for GooglePlacesAutocomplete like ..

`<GooglePlacesAutocomplete styles={{
            textInputContainer: {
              backgroundColor: 'rgba(0,0,0,0)',
              borderTopWidth: 0,
              borderBottomWidth:0
            },
            textInput: {
              marginLeft: 0,
              marginRight: 0,
              height: 38,
              color: '#5d5d5d',

[2020-02-11 23:55] chrisoname opened #502 "Can't click autocomplete listview in iOS"
So, I have the GooglePlacesAutocomplete component inside a ViewPager component.

It works perfectly outside of the component by itself, but when surrounded by the component ViewPager, I can't click anything, only sometimes as if it was a styling thing.

This is my code:

[code]

This is the code that calls the MyMap component inside the ViewPager:

[code]

It works on Android perfectly.

[2020-02-12 00:44] chrisoname commented on #502
Already got it.

For future references:

[2020-02-12 00:44] #502 closed

[2020-02-12 11:35] ahmadali9289 opened #503 "react-native-google-places-autocomplete not working on React native 0.61"
Hi,

I have added react-native-google-places-autocomplete with yarn in my react-native cli project but it is not working. Here are the issues I am facing at the moment.

1. the places drop down is not showing up on IOS, however the input text field allows me to enter a place name but the predictions list does not appear

2. onPress handler is not triggered at all on both IOS and android

3. The Te

[2020-02-13 23:58] vrgimael commented on #503
I'm observing the same issue but only in some scenes in my app - I'm not 100% sure that's the cause but I suspect it won't work because it's inside a modal component. It works fine somewhere else in the app though.

Any thoughts?

[2020-02-14 00:06] vrgimael commented on #503
Actually just solved it by following the steps [here](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/478#issuecomment-573344080)

[2020-02-14 13:10] LucasMallmann commented on #447
@carmelocatalfamo a quick question. Where am I supposed to edit this? Change this navigator config?

[2020-02-17 12:13] ranggabadrus commented on #475
any update?

[2020-02-18 05:23] oleprohon commented on #478
None of these solution seem to work for me on Android, the results list just doesn't show up. Tried in a View, ScrollView and KeyBoardAvoidingView. Tried removing other components as well. Rolling back to 1.3.9 did not help either.

I have this warning in console:
`VirtualizedLists should never be nested inside plain ScrollViews with the same orientation - use another VirtualizedList-backed contai

[2020-02-18 11:01] jhalborg opened #504 "Vulnerability in peer dependency"
Hey 👋

There's a vulnerability of severity `high` in the package,

![image](https://user-images.githubusercontent.com/6643672/74730391-4d856e80-5246-11ea-858b-3c665bfc610f.png)

[2020-02-18 20:01] jailsonpaca commented on #499
Hi! you solve your problem? @carlossuds

[2020-02-19 14:30] forster007 commented on #475
Any update?

[2020-02-19 16:01] anunes9 opened #507 "PlacesDetailsQuery don't work with multiple fields"
When passing multiple fields to the Details Query the component fails to the a response.

`GooglePlacesDetailsQuery={{ fields: 'formatted_address, geometry' }}`

Any clue on how to request multiple fields?

[2020-02-19 23:30] kwameaj67 commented on #499
my api is valid but its not populating the list of places

[2020-02-20 00:50] carlossuds commented on #499
nope.

[2020-02-20 10:01] lam3rr commented on #507
just remove the space between the comma and geometry.
it worked for my case
GooglePlacesDetailsQuery={{ fields: 'formatted_address,geometry' }}

[2020-02-20 13:44] #507 closed

[2020-02-21 07:55] josepaulodelacruz commented on #503
Im having this kind of problem to. unable to fetch search places

[2020-02-23 07:14] londri2go opened #508 "onChangeText is overlapping with other Input or TextInput Components"
[code]

Every time I try to type into the input field, it will trigger  the autocomplete and erase whatever was written in the input field.

[2020-02-25 14:19] legshampoo commented on #478
+1 for me, tried the same steps as @oleprohon  but no dice

[2020-02-25 14:40] oleprohon commented on #478
This code ended up working for me:

[code]

[2020-02-27 11:44] TheWhiteUnicorn commented on #491
In my case it happened when I've put this component into another scroll view. Removing the outer scroll view temporary fixed the problem

[2020-02-27 13:25] carlosbpf commented on #491
I was running into the same issue,  setting keyboardShouldPersistTaps='always'  on ALL scroll views you may have surrounding this component, and setting listViewDisplayed='false' did the trick for me!

[2020-02-27 22:11] carlosbpf commented on #394
I was having this issue, my field was inside two scroll views, I was able to fix it using this:
keyboardShouldPersistTaps='always' in the scroll views, and listViewDisplayed='false' in the field.

[2020-03-02 18:47] akhlopyk opened #509 "Questions: How to get streets for specified city only"
Hi there!
Just want to ask if you have an idea how to get street for specified city. I know, there is the way, but I cant figure out what options should I use. Any ideas?

[2020-03-02 21:53] andymurakami opened #510 "Autocomplete does not work"
My component Search

[code]
And my index.js
[code]
After put 2 or 3 digits of address, nothing happens

[2020-03-03 09:19] harishsn commented on #496
Even i am facing the same issue..

[2020-03-04 02:09] oporter1 commented on #244
@guilhermepontes where are we supposed to put  `this.googlePlacesAutocomplete._handleChangeText("")`?

[2020-03-05 12:58] alaminopu opened #511 "Current location not showing the nearby addresses"
![Screenshot_20200305-135047](https://user-images.githubusercontent.com/1296554/75983385-c2180880-5ee8-11ea-8c28-b833546efc48.png)

Currently if I clicked on the current location it's showing nearby cafe and shops but it doesn't show actual street address or house address.  Is there any way to fix it?

[code]

[2020-03-05 20:48] luisbarrientosf commented on #429
We need this prop in documentation

[2020-03-06 06:38] luismasg commented on #496
So i had the same issue. I even copied the same code from the current github repo.
Strange .
Its really nice to see people contributing and updating it

[2020-03-06 14:23] jaing commented on #510
This package is no longer maintained and simply not working. I tried on IOS with expo. I didn't even get a list of results. I found a other package that is working like a charm:

https://www.npmjs.com/package/react-native-places-input

[2020-03-06 14:23] jaing commented on #503
This package is no longer maintained and simply not working. I tried on IOS with expo. I didn't even get a list of results. I found a other package that is working like a charm:

https://www.npmjs.com/package/react-native-places-input

[2020-03-06 14:24] jaing commented on #499
This package is no longer maintained and simply not working. I tried on IOS with expo. I didn't even get a list of results. I found a other package that is working like a charm:

https://www.npmjs.com/package/react-native-places-input

[2020-03-06 14:25] jaing commented on #511
You can try this one:

https://www.npmjs.com/package/react-native-places-input

There is a prop: resultRender. where you can define what it will display (name of a place, name with formatted address etc. )

[2020-03-06 14:49] OmelianOssystem opened #512 "current"

[2020-03-06 14:50] #512 closed

[2020-03-10 16:03] minimalistech commented on #400
Hi there, I also need to include the zip code in the address on both places, in the list, and in the textinput when one item is selected. I do get the complete addres, including zip code from  details.formatted_address on onPress. But the row parameter in renderDescription does not include formatted_address, and row.description does not show zip code. Is it possible to tell renderDescription to sh

[2020-03-12 10:12] minhdongsss commented on #207
How about this status, bros.... :D Look my case the same with @ziaulrehman40 . I also convert from mobile app to web app. And get this error when using it :(

[2020-03-13 13:16] VukovicIvan commented on #509
You can do it like this by inputing the longitude and latitude of the city center and then setting the radius.

`query={{
              key: "YOUR_API_KEY",
              language: "en", // language of the results
              location: "44.786600, 20.448900",
              radius: "12000", //12 km
              components: "country:rs",
              strictbounds: true
            }}`

[2020-03-13 14:29] akhlopyk commented on #509
@VukovicIvan
Thanks a lot! You have saved my life!

[2020-03-17 10:02] aniruddhbhamare opened #513 "react-native-google-places-autocomplete not working on React native 0.59.9"
"react-native-google-places-autocomplete": "^1.4.1",
"react-native": "0.59.9",
 "react": "16.8.3",

Autocomplete does not work,
Not Showing Result lIst

[2020-03-17 17:18] maheshdatta commented on #456
Thank you for this great library.
Is this fixed now? Getting an error as below

<img width="491" alt="Screen Shot 2020-03-17 at 10 47 43 PM" src="https://user-images.githubusercontent.com/11534062/76882954-631ba180-68a1-11ea-8a63-f5a04f543734.png">

[2020-03-20 06:25] omkarrong commented on #477
I am also facing this issue. If you got the solution please drop here too.
Thank you in advance.

[2020-03-21 19:44] tailaw commented on #478
My gosh, I spent a good few hours trying to see if I've done anything wrong until I found this and it worked magically!

[2020-03-23 11:28] tinBilicCoreline commented on #496
I have the same issue and when I comment out what Aryk said it works, hope they will resolve this soon.

[2020-03-23 15:52] Lukashev opened #515 "possibility to get flatlist current height"
I think flatlist need some stuff to get height, etc. based on quantity of rendering rows or do this with ref maybe. For example, it's usefull if you don't wanna leave the free space in a block and change container element height (modal, etc.) according to flatlist. Maybe, I don't understand something.

[2020-03-27 10:44] tinBilicCoreline commented on #251
textInputProps={{ onBlur: _.noop() }}

whereas _ is from lodash

this solved this problem for me

[2020-03-27 10:50] tinBilicCoreline commented on #496
textInputProps={{ onBlur: _.noop() }}

whereas _ is from lodash

this solved this problem for me

[2020-03-27 12:07] dominik992 commented on #477
Same here

[2020-03-27 12:18] akashaku opened #516 "Type in GooglePlacesSearchQuery not working"
can't see any effect of GooglePlacesSearchQuery param.

[2020-03-27 13:13] nschild commented on #478
for some reason, I had to specify `styles={{listView: { backgroundColor: COLOR.WHITE }}}`

[2020-03-28 15:52] BrianIto commented on #478
The @fierysolid solution works, I think it's enough to close the issue

[2020-03-28 22:17] RyanPapazoglou commented on #516
I am having the same problem.

[2020-03-30 18:01] nescroft commented on #516
hmm ya all the sudden my code that was working no longer works. even in previous versions of the app on testflight locations are no longer being listed. so google must have changed something?

[2020-03-30 20:44] RyanPapazoglou commented on #516
Is there a way to explicitly call the search function? This is what I've got and it's definitely not working.

<GooglePlacesAutocomplete
                placeholder='Search'
                minLength={2} // minimum length of text to search
                autoFocus={true}
                returnKeyType={'search'} // Can be left out for default return key
                listViewDisplayed={true}

[2020-03-30 21:55] carylaw commented on #496
my **Current Location** solution

[code]

[2020-03-31 10:06] jaing commented on #516
It's not working for me either. Try this one: https://github.com/jaing/react-native-places-input

[2020-03-31 10:07] jaing commented on #513
Was not working for me either. So i created one by myself:

https://github.com/jaing/react-native-places-input

[2020-03-31 12:11] VTSingle opened #517 "Can't select a item inside of ScrollView"
I can't select a item inside of ScrollView. Sorry for the repetition question, but I can't find solutions for it.
My versions:
React-Native: "0.61.5",
React-native-google-places-autocomplete: "^1.4.1".

Example of me code:

`<ScrollView`
      `style={styles.styleContainer}`
     ` keyboardShouldPersistTaps="handled">`
     `   <GooglePlacesAutocomplete`
          `placeholder="Your address"`

[2020-04-01 14:03] faisal-vf commented on #517
This helped: https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/478#issuecomment-573344080

[2020-04-01 17:45] nescroft commented on #516
@RyanPapazoglou there is no explicit way to call it that I know of besides typing in the input. But actually typing in the input is working for me. The real issue I discovered is I am getting this response.

By using console.log(request.responseText);

I get this:
"error_message" : "This API project is not authorized to use this API.",
                 "predictions" : [],
                 "status"

[2020-04-01 17:56] RyanPapazoglou commented on #516
@nescroft Hmm.. I've actually seen that before on some other related issue posts. I believe it might be due to having restrictions enabled on your API key. I will check to see if I can find the post I saw that on. Worth looking around tho.

I haven't logged my response yet, I'll see if I get the same.

[2020-04-01 18:01] RyanPapazoglou commented on #516
@nescroft How are you actually logging the response? Would you be able to share a snippet of that section of your code?

[2020-04-01 18:06] nescroft commented on #516
@RyanPapazoglou yep solved it. I had to switch to a new API key because the old dev blocked the one I was using I guess. But I forgot to enable the "Places API".. once I did that it started working again.

"How are you actually logging the response? Would you be able to share a snippet of that section of your code?"

You have to go into node_modules/react-native-google-places-autocomplete then ins

[2020-04-01 18:09] RyanPapazoglou commented on #516
@nescroft Awesome, thanks so much. Glad to hear you got it working!

[2020-04-01 18:09] grwimran opened #518 "Click on List does not get address from List"
[code]

[2020-04-03 10:18] jacky-ew opened #520 "Postcodes is not given unless input detects a postcode"
is there a way to display postcode in every address even user did not key in the postcodes?

[2020-04-03 15:23] mhreid opened #522 "Input text invisible on iPhone 8"
Works fine in simulator and other devices, and works fine otherwise. Editing style props does not help.

[2020-04-06 10:26] jacky-ew opened #524 "Can the input component takes in new state instead of default "this.state.text""
Hi, i was trying to pre-fill the input with some text so that `onFocus` of input, the dropdown list will show available results based on pre-filled data.
however after checking your source code, i found out it was hard coded with `this.state.text`, is there any other props that i can overwrite it, rather than i change your source code?

thanks in advance

[2020-04-06 15:02] mhreid commented on #522
Never mind, it's not just iPhone 8 but all iPhones. To fix it I added the following props:
`      styles={{
        textInput: { flex: 1, color: "black" }
      }}`

[2020-04-06 21:54] hthillman commented on #207
Any update here? Looks like this uses the server-side library. Right now this is unusable on web.... Needs to be replaced with the client library for web implementations.

See this thread:
https://github.com/googlemaps/google-maps-services-js/issues/59

[2020-04-06 21:59] hthillman opened #525 "Replace server-side API library for web implementations"
**Problem**
This package currently uses the server-side library for all API calls. This works fine on iOS/Android, but causes CORS errors on web.

See this thread:
googlemaps/google-maps-services-js#59

**Solution**
Replace with client library for web implementations
https://developers.google.com/maps/documentation/javascript/tutorial

[2020-04-07 12:21] #522 closed

[2020-04-08 04:17] YahiaBadr commented on #475
any updates?

[2020-04-08 16:45] jparksecurity commented on #489
I don't think the lib supports restricted API key.

According to [the Google doc](https://developers.google.com/places/web-service/autocomplete), `origin` parameter is

Hence, it has to be

curl -H "referer:https://www.xxxx.com" https://maps.googleapis.com/maps/api/place/autocomplete/json?&input=123&key=xxxxxxxxxx&components=country%3AUS&types=address

which is not how the lib curruntly works

[2020-04-09 08:26] AndrianinaH opened #527 "Typescript support ?"
When will Typescript support be available?

[2020-04-09 08:59] peterkhoa commented on #482
Hey all, API google place autocomplete return this result (below), not geometry :)
{
  "status": "OK",
  "predictions" : [
      {
         "description" : "Paris, France",
         "distance_meters" : 8030004,
         "id" : "691b237b0322f28988f3ce03e321ff72a12167fd",
         "matched_substrings" : [
            {
               "length" : 5,
               "offset" : 0
            }
         ]

[2020-04-10 06:58] durgesh94 opened #528 "On Search - TypeError: undefined is not an object (evaluating '_headers[h].toString')"
Please ref screenshot for more details.
"react-native": "0.61.5"
"react-native-google-places-autocomplete": "^1.4.1"

![Issue](https://user-images.githubusercontent.com/21127111/78970294-9ced6a00-7b26-11ea-915a-fb2ecec90bd2.png)

[2020-04-10 16:16] devfilsk commented on #503
Hi guys.
I was having the same issue with this lib, and after try for some hours, i find a solution.
The problem was in the billing configuration on google APIs.
Try configure the project what you are using key for and active billings configurations, it solved my problem. try it and tell me if it works.

Obs. I'm sorry about the poor english, but I hope this can help you.

[2020-04-11 22:24] NeelakshSharma commented on #461
How did you style the layout such that both the fields are coming with such a small gap between them? I appended both the fields in the same fashion but they are being displayed far apart by default. Which prop to provide?

[2020-04-11 22:38] abhigk commented on #486
How did you create it?

[2020-04-12 11:46] SyedTaha13 opened #529 "Text Search is not working"
I am trying to get multiple result from an ambiguous text search like food or grocery store by using GooglePlaceSearch but in suggestion i am not getting the search query , Here is the code snippet

query={{
                    key: 'my_api_key',
                    language: 'en',
                    location: this.props.lat+','+this.props.lng,        //specifing the current loc

[2020-04-15 14:02] FaridSafi opened #532 "Looking for maintainers"
Hello guys, I am looking for maintainers for this package. Is someone interested ?

[2020-04-15 17:12] MuhweziDeo commented on #532
@FaridSafi Intreseted

[2020-04-16 00:19] prospteam commented on #155
i would like to ask where can i find a documentation where "setAddressText" can be found,
i cant find it here,

[2020-04-17 07:24] julien9999 commented on #532
Hey Farid, would love to help maintain

[2020-04-17 09:54] sethcwhiting commented on #499
@carlossuds Have you tried messing around with your CSS? It's been a while since I first set it up in my project, but I think I remember having an issue with a height being set on something and the fact that `overflow: 'hidden'` was set by default.

[2020-04-17 18:24] iamisathya commented on #206
+1

[2020-04-18 20:21] NeelakshSharma opened #533 "Google places textfield inside flatlist shrinks in respect of width"
I am dynamically adding the google places search textfield inside a flatlist. But it shrinks in respect to width when coming inside a flatlist.

![Layout](https://user-images.githubusercontent.com/33982529/79686909-5a800780-8261-11ea-9568-a6d055e164c7.jpeg)

Why does it happen?

[2020-04-19 12:15] y-manish opened #534 "Add inbuilt support for sessionToken"
It would be nice to have in-built sessionToken support in this package to reduce the billing cost.

[2020-04-19 12:17] y-manish commented on #532
Hi @FaridSafi
I am interested but don't have much experience in react-native as of now.

I recently came across this package, its quite helpful for the react-native app I have started building recently.

Also I would like request adding inbuilt support for sessionToken to reduce the cost for autocompletion https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/534
If this look

[2020-04-19 14:28] FaridSafi commented on #532
alright, I sent you an invitation via GitHub. What is your https://www.npmjs.com/ username?

[2020-04-19 14:36] NeelakshSharma commented on #533
Can be adjusted using width. Thanks

[2020-04-19 14:36] #533 closed

[2020-04-19 14:41] NeelakshSharma opened #535 "Does not take any action on onPress inside Flatlist"
I am generating Google places textfields inside flatlist dynamically. But this stops the onPress function to work(after selecting any place from suggestions does not give any feedback).

[2020-04-20 11:43] y-manish commented on #532
Its manishy

[2020-04-22 01:26] ItsRhen commented on #480
I second. This warning is still present on my install. I'm at the latest. Thanks for a great library.

[2020-04-22 05:24] ankitnb opened #536 "Not getting Address Components from Data"
I am having an issue with the library, on a method of its **"onPress={(data, details = null) => "**, I was getting address_components using **"details.address_components"**.

But now I am not getting the address component data, what would be the issue? I'm getting only formatted address in details.

**{"formatted_address":"city, state, country"}**

I'm using following version,
**"react-native-goog

[2020-04-22 11:40] tankpower1 opened #537 "Problem when adding onSubmitEditing"
Hello, i can't seem to get the onSubmitEditing to work at all. I add it as follows:

<pre>
textInputProps={{
                        onSubmitEditing: (data, details) => console.log(data, details),
                        returnKeyType: 'go',
                        clearButtonMode: 'never'
                    }}
</pre>

It gets the synthetic event data instead of data/details..

[2020-04-23 18:27] sundariragavan commented on #400
how to get the zip code ? Any update ?

[2020-04-25 10:30] klichg0ky commented on #535
Its react native problems, check FlatList extraData props

[2020-04-25 11:04] FaridSafi commented on #532
Thank you @y-manish, I added you as collaborator on this repo and also on npmjs. You are now able publish updates

[2020-04-26 13:39] orsospatrick commented on #155
1) <GooglePlacesAutocomplete ref={(instance) => { this.GooglePlacesRef = instance }}/>

2) At onPress use this.GooglePlacesRef.setAddressText("").

Work for me

[2020-04-27 12:49] rajnishcoder commented on #475
any update?

[2020-04-27 18:26] DeVoresyah commented on #518
same here

[2020-04-28 03:56] juanlet commented on #529
Did you get to make the radius work with the current location? To me it doesn't complain but it doesn't restrict it to the radius, it shows cities that are at 1000km from the end of the radius

[2020-04-28 04:45] juanlet commented on #509
That works well indeed to restrict the area. Just to add to the solution, if it doesn't get you the right results in ios simulator you need to manually set it going to the simulator top bar menu, **FEATURES -> LOCATION -> Custom Location** and put your actual location(you can search it on google maps or whatever) since the default is **None**(which will make this library not to work at all for ios

[2020-04-28 05:43] anoopnockson commented on #535
for me when placing it on normal view not scroll view working. but extra space showing..

[2020-04-28 11:55] nikolajordanovski commented on #518
@grwimran could you please give more details about the problem and/or provide a better format of the code also provide your component and `package.json` file

[2020-04-28 11:56] nikolajordanovski commented on #517
@VTSingle
Please add `keyboardShouldPersistTaps="handled"` to your ScrollView component

[2020-04-28 12:23] nikolajordanovski opened #538 "Expose functions like onFail, onNotFound"
Hello, would be of great benefit to expose the functions
`onFail` and `onNotFound` as it's an edge case that needs to be handled.

We can see the functions and there are few pull requests as far as I can see.

Please let us know why its not exposed , I can create a PR if needed be.

[2020-04-28 14:34] rmethaniya commented on #536
You will get **postal code, country, state, city** and other with using below function.

    export let placeAddresCompoponent = {
        ZIP_CODE: 'postal_code',
        COUNTRY: 'country',
        STATE: 'administrative_area_level_1',
        CITY: 'administrative_area_level_2',
        TOWN: 'sublocality_level_1',
        AREA: 'sublocality_level_2',
        NEAREST_ROAD: 'route'
    }

Use th

[2020-04-28 21:38] NeelakshSharma commented on #535
How can I use it inside Scroll List or Flat List?

[2020-04-29 05:04] juanlet commented on #517
@nikolajordanovski That worked for me, thanks!

[2020-04-29 08:20] nikolajordanovski commented on #538
@FaridSafi could you please provide feedback or give us the green light to code it

[2020-04-30 03:39] Sbarcenas commented on #496
This works to me

[2020-04-30 08:34] kevinvayro commented on #534
Session token is just a query parameter so can be passed to the following object prop and it will be appended.

[code]

[2020-04-30 13:54] arjun-ravi commented on #475
Any update?

[2020-04-30 16:30] bell-steven commented on #532
I would love to work with @y-manish and whoever else is working on the library.

I have have been working on react-native full time for over a year and been using this library from the beginning.  Was doing React on the web before that for a couple of years.

I would like to help out with critical bug fixes and issue management first (there are over 100 open issues and 30 open PR's).

I can also h

[2020-05-02 13:37] antt001 commented on #518
I notice it happening only when inside the scrollable view

[2020-05-04 08:15] ferranuap commented on #535
Any workaround for this?

[2020-05-05 17:57] vcgupta commented on #274
Getting same error here. Not working at all

[2020-05-05 22:05] iqbal-muhammad commented on #532
I am interested for maintaining this awesome package, I always wanted to do something like this and it would be a nice challenge for me.

[2020-05-06 01:20] bfraiman commented on #503
Any solution?

[2020-05-06 12:17] NeelakshSharma commented on #535
Yea, I just put the textfields instead of google autocomplete textfield. When the user taps on any of them. it redirects to another screen which has the Google autocomplete textfield. When th user inputs a place, it redirects back to the multple textfield screen. It's completely a workaround but not a solution to it.

[2020-05-06 13:32] ferranuap commented on #535
I ended up doing the same. I've removed the popup i had and created a new screen. Thanks for answering :)

[2020-05-07 13:01] #535 closed

[2020-05-07 19:56] bell-steven commented on #347
I just ran into this. I had the Library wrapped in a SafeView From RN and that was blocking the listview from showing. Feel free to drop a PR to fix.

[2020-05-07 20:01] bell-steven commented on #499
@carlossuds Is this still an issue for you? I'm trying to get a handle on what some of the bugs in the library are so we can get started with big fixes.

[2020-05-07 21:30] bell-steven opened #541 "Geolocation umbrella issue"
Since `navigator.geolocation` was [deprecated in React Native v0.60.0](https://reactnative.dev/docs/geolocation.html), getting a user's current location no longer works.  There are many open (and closed) issues for this, and a few PRs open as well.

I would like to hear about what you all think about the best path forward for this is.

On a high level, I think there are 2 ways to deal with this.
1

[2020-05-07 21:34] bell-steven commented on #541
For those looking for a quick workaround in the interim:

1) `yarn add @react-native-community/geolocation` or `npm install @react-native-community/geolocation --save`
2) React Native Link or Pod install
3) add `navigator.geolocation = require('@react-native-community/geolocation');` near the top of your App.js file.

[2020-05-07 23:53] bell-steven commented on #453
Hey @bfarrgaynor.  Would you be able to provide any sort of reproduction for this so I can dig into it?  A [Snack](https://snack.expo.io/) would be great, otherwise showing some code you are using.

[2020-05-08 00:01] bell-steven commented on #490
Closed with #500

[2020-05-08 00:01] #490 closed

[2020-05-08 00:01] bell-steven commented on #440
closed by #500

[2020-05-08 00:01] #440 closed

[2020-05-08 00:08] bell-steven commented on #358
Closed by #384

[2020-05-08 00:08] #358 closed

[2020-05-08 00:13] bell-steven commented on #342
Do you know if this is still an issue?

[2020-05-08 01:12] bell-steven commented on #401
This has since been released on NPM.

[2020-05-08 01:12] #401 closed

[2020-05-08 03:55] bell-steven commented on #538
@nikolajordanovski  what do you mean by exposing the functions?
I use onFail in [this snack](https://snack.expo.io/@sbell/5e85ed) with no problems.

PRs always welcome

[2020-05-08 03:59] bell-steven commented on #525
One of the great things about this library, in my opinion, is that it doesn't require any of the Google SDK's in order to work.  React Native is a non-web browser platform first.  Adding the Javascript SDK to it seems a little counter intuitive to me.
My 2¢

[2020-05-08 05:46] #504 closed

[2020-05-08 06:03] nikitph commented on #535
this should not be closed. this is a problem for me too

[2020-05-08 06:04] nikitph commented on #518
any updates on this?

[2020-05-08 06:09] bell-steven commented on #504
Fixed in v1.4.2

[2020-05-08 06:09] bell-steven commented on #527
Fixed in v1.4.2

[2020-05-08 06:09] #527 closed

[2020-05-08 06:18] nikitph commented on #517
this worked for me too . thanks

[2020-05-08 13:46] bell-steven commented on #371
This library does not use any native android (or iOS) code.  The error you are showing is most likely coming from react-native-maps or another package (although by now, i'm sure it has been fixed).

[2020-05-08 13:46] #371 closed

[2020-05-08 13:51] bell-steven commented on #369
There is no promise code in this library, so I am not sure where this error is coming from.

I'm going to close this for now, but if you want to provide some sample code, or better yet a [snack](https://snack.expo.io) so I can reproduce the issue, feel free to re-open this.

[2020-05-08 13:51] #369 closed

[2020-05-08 13:56] bell-steven commented on #366
This doesn't sound like an issue with the library itself.  Feel free to re-open if you haven't resolved this.

[2020-05-08 13:56] #366 closed

[2020-05-08 13:57] bell-steven commented on #355
closed by #380

[2020-05-08 13:57] #355 closed

[2020-05-08 14:01] bell-steven commented on #342
This sounds like it might be caused by redux updating the props when the component is unmounted, hence the error.  See [this](https://www.robinwieruch.de/react-warning-cant-call-setstate-on-an-unmounted-component) article for more.

[2020-05-08 14:01] #342 closed

[2020-05-08 14:15] bell-steven commented on #535
@nikitph I can re-open this if you have some reproducible code to show what the issue is.

[2020-05-08 14:21] nikitph commented on #535
I found a workaround. Keyboardshouldpersisttaps= true inside scrollview
containing the Google place text field. It only happens when field is
nested in a scrollview

On Fri, May 8, 2020, 19:45 Steven Bell <notifications@github.com> wrote:

[2020-05-08 14:23] #517 closed

[2020-05-08 14:30] bell-steven commented on #518
I tested your code and it worked.
![image](https://user-images.githubusercontent.com/13405567/81415552-98f93b80-9116-11ea-8a2a-c326598db296.png)

It sounds like your issue may be related to [this](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/478#issuecomment-573344080). Feel free to re-open if this doesn't solve your problem.

[2020-05-08 14:30] #518 closed

[2020-05-08 14:33] bell-steven commented on #536
@ankitnb can you provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

[2020-05-08 14:55] bell-steven commented on #394
I'm closing this as there is no reproducible example and it sounds like the scrollview issue many others are struggling with.  Try [this](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/394#issuecomment-592202985), as mentioned above.  Also see [this](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/478#issuecomment-573344080) issue for refere

[2020-05-08 14:55] #394 closed

[2020-05-08 14:56] #397 closed

[2020-05-08 15:12] bell-steven commented on #491
I'm closing this as there is no reproducible example and it sounds like the scrollview issue many others are struggling with.  Try [this](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/491#issuecomment-591969185), as mentioned above.  Also see [this](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/478#issuecomment-573344080) issue for refere

[2020-05-08 15:12] #491 closed

[2020-05-08 15:16] bell-steven commented on #470
@CmDogsInc can you provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

[2020-05-08 16:47] hthillman commented on #525
I'm open to other suggestions on how to do it, but the fact of the matter is that this implementation throws CORS errors on web. Based on my read of google's docs, this is because they force you to use the JS SDK for browser implementations.

A big part of RN's value prop is reusability of code / lower maintenance. RN usage on web is increasing rapidly, and dependencies like this need to support w

[2020-05-08 17:16] bell-steven commented on #525
While I agree with you that this is where RN is trying to head, all the web implementation have come from outside RN itself.  At the moment, there isn't robust support for React Native on the web, it is still sort of one giant hack.  I'm not sure it's fair to say that open-source libraries which are built around RN are treating the web as second class citizens because they don't support this.  I s

[2020-05-08 17:42] hthillman commented on #525
Let me take a look and see if I can put something together.

Not sure if this is out of scope, but that prop could also theoretically allow people to pass requests to open source autocomplete engines.

[2020-05-08 17:49] hthillman commented on #525
And maybe "second-class citizen" was strong wording -- I guess I generally feel that to the extent possible, projects should include the most robust web support that they can. Even if RNW has a number of problems, we should be trying to build out the OSS infrastructure to support it. As you said, it's kind of a giant hack... and I'd rather not hack more things than I need to.

[2020-05-08 19:01] bell-steven commented on #525
No worries.

Thanks!  No, definitely not out of scope, I think that providing that flexibility is key.
Thinking about this programmatically, allowing the prop to accept any URL  makes the library more flexible as a whole, instead of just coding against a specific problem.

It looks like this is basically implemented in #514. I'll have to take a look at it.  There may need to be some changes around

[2020-05-08 19:31] bell-steven opened #542 "Bundle size increase in v1.4.2"
After releasing v.1.4.2 to NPM I notice that the package install size has increased by 75% since v.1.4.1! 😱

See it on [bundlephobia](https://packagephobia.now.sh/result?p=react-native-google-places-autocomplete).

It might simply be because of the typescript file, but I really want to prevent size regressions if at all possible.

I will try to get to it next week, in the meantime if anyone finds

[2020-05-08 20:24] RupinSahu commented on #329
Hi Everyone! I just found a solution for my use case as collapsing ListView when the user picks a place. I have just used a variable
`
state = {
    searchFocused: false,
    isPlacePicked: false
  };
`
Here, isPlacePicked will be useful for our usecase, use this variable as follows -
 Set `listViewDisplayed={ this.state.isPlacePicked ? false : 'auto'}`  and make changes in onPress and textInputPr

[2020-05-08 20:44] bell-steven commented on #542
Seems like the type definitions is the cause for the increase.  I don't think this has an effect on the bundle size when you build your app.

v.1.4.1
![image](https://user-images.githubusercontent.com/13405567/81447709-248cbf80-914b-11ea-85db-2ff9114bfde4.png)

v.1.4.2
![image](https://user-images.githubusercontent.com/13405567/81447685-1b035780-914b-11ea-9989-d7b880a0e384.png)

[2020-05-08 20:44] #542 closed

[2020-05-08 21:01] bell-steven commented on #489
Closed by #526

[2020-05-08 21:01] #489 closed

[2020-05-09 08:32] neosowmiya commented on #477
i fixed this issue by inclluding keyboardShouldPersistTaps='always' and listViewDisplayed={false} in your scroll view JSX

[2020-05-10 02:25] #485 closed

[2020-05-10 02:28] #481 closed

[2020-05-10 02:34] bell-steven commented on #471
Hi @hopewise can you please provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

[2020-05-10 02:35] bell-steven commented on #467
Hi @vnanaware can you please provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

[2020-05-10 02:40] bell-steven commented on #446
Hi @FRizzonelli can you please provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

[2020-05-10 02:41] bell-steven commented on #443
Hi @popadorin can you please provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

[2020-05-10 02:43] bell-steven commented on #454
@h4m3d66 see [this](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/429#issuecomment-574553219) issue.

[2020-05-10 02:44] bell-steven commented on #431
HI @lyudad can you please provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

[2020-05-10 02:45] bell-steven commented on #432
@vizFlux can you please provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

Also, perhaps [this](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/429#issuecomment-574553219) solve your issue?

[2020-05-10 02:46] bell-steven commented on #435
Hi @msqar is this still an issue? Can you please provide a reproducible example of this by showing some code or better yet, lining to a [snack](https://snack.expo.io)?

[2020-05-10 02:49] bell-steven commented on #488
@fpolica91 or @conor909
Can you please provide a reproducible example of this by showing more detailed code or better yet, linking to a [snack](https://snack.expo.io)?

[2020-05-10 02:54] bell-steven commented on #537
@tankpower1 Can you please provide a full reproducible example of this by showing some code or better yet, linking to a [snack](https://snack.expo.io)?

[2020-05-10 02:55] bell-steven commented on #529
@SyedTaha13 Can you please provide a full reproducible example of this by showing some code or better yet, linking to a [snack](https://snack.expo.io)?

[2020-05-10 02:56] bell-steven commented on #528
@durgesh94 Can you please provide a fully reproducible example of this by showing some code or better yet, linking to a [snack](https://snack.expo.io)?

[2020-05-10 03:00] bell-steven commented on #513
@aniruddhbhamare Can you please provide a fully reproducible example of this by showing some code or better yet, linking to a [snack](https://snack.expo.io)?

[2020-05-10 03:09] bell-steven commented on #499
@carlossuds Are you trying this on the web, or on an Android or iOS device?  Because of CORS issues, you need to use the javascript SDK on the web.  Otherwise, i'll be more than happy to look into this.

P.S.  Thanks for the providing code for reproduction, it makes it way easier.

[2020-05-10 03:22] bell-steven commented on #475
Can someone please provide a fully reproducible example of this by showing some code or better yet, linking to a [snack](https://snack.expo.io)?  I cannot reproduce this.

[2020-05-10 03:23] bell-steven commented on #458
@trinhhien272  Can you please provide a fully reproducible example of this by showing some code or better yet, linking to a [snack](https://snack.expo.io)?

[2020-05-10 03:26] bell-steven commented on #436
There are a few PRs open for this #439 #445 #542

I'll try to get one of these merged soon.

[2020-05-10 03:28] bell-steven commented on #428
Hey @morenoh149 would you be able to open a PR for this?

[2020-05-10 03:37] bell-steven commented on #417
There is no reproduction here, so it's very difficult to tell if this is a bug.
Also seems as though this might be covered by the `listViewDisplayed` prop.

Feel free to open a new issue if this is still a problem.

[2020-05-10 03:37] #417 closed

[2020-05-10 03:40] bell-steven commented on #413
@aggounix  Can you please provide a fully reproducible example of this by showing some code or better yet, linking to a [snack](https://snack.expo.io)?

Also see the `listViewDisplay` prop, it might be helpful.

[2020-05-10 03:44] bell-steven commented on #414
Hey there is some discussion around in #525 and a PR that basically covers it in#514.

[2020-05-10 04:02] bell-steven commented on #383
@scott-metalab-zz To echo what @pmarconi said, this should probably be handled outside of the library.  As you noted, on iOS you can only ask for permission once.

You can use the `currentLocation` prop to control together with a library like `react-native-permissions` to decide whether to show  the current location option to the user.

In addition, current location doesn't work in RN v0.60.0+, se

[2020-05-10 04:04] bell-steven commented on #340
@verybluebot I'm having a hard time determining exactly what your issue is. Can you provide some code or pics/gifs that might visualize what you are trying to accomplish?

[2020-05-10 04:45] morenoh149 commented on #428
I dont know where to link to

[2020-05-10 05:13] bell-steven commented on #428
With the addition of the types file, this actually now gets suggested why typing it in.
See [here](https://github.com/FaridSafi/react-native-google-places-autocomplete/blob/589027fb4f75b6e513715461356d674a07bb843a/GooglePlacesAutocomplete.d.ts#L358) and the available options [here](https://github.com/FaridSafi/react-native-google-places-autocomplete/blob/589027fb4f75b6e513715461356d674a07bb843a/Go

[2020-05-10 14:35] ankitnd043 commented on #129
Just add textInputProps={{ onBlur: () => {} }} in <GooglePlacesAutocomplete />

Ex.
 <GooglePlacesAutocomplete
  currentLocation={true} // Will add a 'Current location' button at the top of the predefined places list
  currentLocationLabel="Current Location"
  nearbyPlacesAPI="GoogleReverseGeocoding"
  textInputProps={{ onBlur: () => {} }}
..../>

Find this solution from:
https://github.com/FaridS

[2020-05-10 15:12] bell-steven commented on #511
@alaminopu take a look at the `renderDescription` prop.  See attached screenshot.

![image](https://user-images.githubusercontent.com/13405567/81502871-af39ff80-92ae-11ea-8189-43f9db27256b.png)

[2020-05-10 15:14] bell-steven commented on #516
Looks like this might have been resolved. Please open a new issue if this is still a problem.

[2020-05-10 15:14] #516 closed

[2020-05-10 15:15] bell-steven commented on #367
Looks like this might have been resolved. Please open a new issue if this is still a problem.

[2020-05-10 15:15] #367 closed

[2020-05-10 15:23] bell-steven commented on #429
Hey, this is something I was trying to find myself for a while.  Would either of you like to put in a PR  to help other find this?

[2020-05-10 21:35] bfraiman opened #544 "I can't see places when i find"
I don't know if I have bad configurations on maps or I don't know.
I can see the saved places but when I want to search a new one I can't.

[2020-05-10 22:50] bell-steven commented on #544
@bfraiman Can you provide some code or a [snack](https://snack.expo.io)?

[2020-05-10 23:15] bfraiman commented on #544
I dont know if its an api configuration, because I can see that my usages are 178. Maybe you can describe me how to create the key and give the right permissions?

[2020-05-10 23:16] bfraiman commented on #544
i try with a new project and I have the same error.

[2020-05-10 23:44] bell-steven commented on #544
Why does your component look like. It is very difficult t know what the issue is without seeing some code.

[2020-05-10 23:52] bfraiman commented on #544
I only copy the example, remove renderLeftButton prop and add my key at the query prop:

query={{
        key: 'YOUR API KEY',
        language: 'en', // language of the results
        types: '(cities)', // default: 'geocode'
      }}

But it doesn’t work. I cant send you my key because it’s private but if you want we can do a call or something like it. I really think that my problem is with the

[2020-05-11 00:14] bfraiman commented on #544
<img width="1262" alt="Screen Shot 2020-05-10 at 9 13 22 PM" src="https://user-images.githubusercontent.com/31390603/81514059-416bf300-9303-11ea-8238-a0b0d1bcb2f1.png">

[2020-05-11 00:15] bfraiman commented on #544
As you can see I have 188 usage in last 30 days. But I cant see the places when I search

[2020-05-11 00:23] bell-steven commented on #544
I will use my own key.  Can you provide a code sample that show your usage of the `<GooglePlacesAutocomplete />` component?  Something like this:

[code]

Or create a snack like [this](https://snack.expo.io/@sbell/react-native-google-places-autocomplete).

[2020-05-11 00:30] bfraiman commented on #544
Thank you for the example. When I try with my key I recive this error
<img width="330" alt="Screen Shot 2020-05-10 at 9 29 50 PM" src="https://user-images.githubusercontent.com/31390603/81514430-78430880-9305-11ea-90e0-558c0a49fb79.png">

[2020-05-11 00:47] bell-steven commented on #544
Are you following [this google guide](https://developers.google.com/places/web-service/get-api-key) for getting an api key?

[2020-05-11 00:58] bfraiman commented on #544
Yes, I follow this steps.
I have the same errors

<img width="329" alt="Screen Shot 2020-05-10 at 9 57 50 PM" src="https://user-images.githubusercontent.com/31390603/81515222-619eb080-9309-11ea-82b0-45004d35ceb5.png">
<img width="330" alt="Screen Shot 2020-05-10 at 9 29 50 PM" src="https://user-images.githubusercontent.com/31390603/81515223-62cfdd80-9309-11ea-8cf0-5bc0a16d7bc1.png">

[2020-05-11 00:59] bfraiman commented on #544
Maybe if we can do a 5 minutes call I can show you

[2020-05-11 01:20] bell-steven commented on #544
This is an open source project. I help maintain this project, but I don't provide private 1 on 1 support.  As an open source project, there is no SLA, product support etc..  If you are willing to create a snack showing how you use the library code, it would be my pleasure to help you try and figure out what is going on.
The Github issues are for issues with the library.  I asked you multiple times

[2020-05-11 01:22] bfraiman commented on #544
I figured out my issue! I forgot to enable the service, Here I share the URL console.developers.google.com/apis/library

If its posible to add it for future users it will be amaizing. Thank you for your answer

[2020-05-11 01:23] bell-steven commented on #544
Feel free to put in a PR.  Glad you got it all figured out.

[2020-05-11 01:23] #544 closed

[2020-05-11 06:00] #537 closed

[2020-05-11 07:05] enguerranws commented on #429
That could be added to the doc quickly, but I'm not sure I have all the information about renderRow signature.

[2020-05-11 10:06] alaminopu commented on #511
@bell-steven Thanks, it worked.

[2020-05-11 10:06] #511 closed

[2020-05-11 18:16] bell-steven commented on #525
I spent a some time thinking about this and doing some testing.  Bottom line, I don't know of a way to get around the CORS requirements of the browser without adding the Javascript SDK.

At this point I will look into merging some of form of #514 which would make this compatible with the web if you pass in your own URL.  I will do a a platform check, and if the remoteURL prop is not set then we wi

[2020-05-11 19:07] hthillman commented on #525
Yeah, that makes sense.

Definitely an antipattern, but a quick-and-dirty hack is just to preface the URL with "https://cors-anywhere.herokuapp.com/".

[2020-05-11 19:12] bell-steven commented on #525
Have you tried that as a permanent solution?  I was under the impression it only works for a bit until it is rate limited.

I created a new branch, you can follow along there. Feel free to chime in, or take a task off the project board as a PR.

[2020-05-11 19:27] hthillman commented on #525
I used it for ~1.5 months in a production environment before setting up my own proxy server.

I didn't experience any problems, but we were only working with ~1500 users and comfortably < 1 call / user / day. I can't speak to high request volume...

[2020-05-11 19:34] bell-steven commented on #525
Cool!  I don't think I want to code it into the app (yet - although it would be something to consider enableing in development mode).

[2020-05-11 23:47] bell-steven commented on #525
@hthillman can you take a look at the PR?

[2020-05-12 00:42] hthillman commented on #525
Yes! Will take a look first thing tomorrow.

On Mon, May 11, 2020 at 4:47 PM Steven Bell <notifications@github.com>
wrote:

--

*Hunter Hillman*
*Co-Founder, Kinder Inc.*
*401.932.7606*

[2020-05-12 12:57] NeenaMishra12 opened #547 "How can I show some value pre-filled in text input?"

[2020-05-12 13:00] NeenaMishra12 opened #548 "How can I show some value pre-filled in text input?"
I am using it in my user profile screen where we ask user to select city from google-places-autocomplete. Once user updates profile and come back to profile screen I would like to show this field with city they have selected earlier. How can I achieve that and using which prop?

[2020-05-12 13:07] NeenaMishra12 commented on #524
Hi @jacky-ew ,
Have you got any solution for this?
I am also looking for the same but, couldn't find any solution.

[2020-05-12 13:29] NeenaMishra12 commented on #158
Where to do this after setting reference?

[2020-05-12 13:56] bell-steven commented on #548
You can use the `getDefaultValue` prop.

[code]

You can also use a ref and set it with setAddressText.

[Here](https://snack.expo.io/@sbell/react-native-google-places-autocomplete---ref) is an example using a ref.

If you pass `null` or `undefined` to getDefaultValue you will get an error.

[2020-05-12 13:57] #547 closed

[2020-05-12 13:59] #428 closed

[2020-05-12 14:02] bell-steven commented on #524
Have you tried the `getDefaultvalue` prop?
[code]

[2020-05-12 14:05] bell-steven commented on #158
@NeenaMishra12 see [this](https://snack.expo.io/@sbell/react-native-google-places-autocomplete---ref) example.

[2020-05-12 14:10] NeenaMishra12 commented on #158
Yes have checked this but, how to add it using state ?

[2020-05-12 14:13] NeenaMishra12 commented on #524
I am trying to set it from state but, in that case it is not showing anything although state has value.

[2020-05-12 14:17] bell-steven commented on #524
Can you please provide a reproducible example?  A [snack](https://snack.expo.io) would be great.

[2020-05-12 17:53] bell-steven commented on #328
It appears that this is resolved.  Feel free to re-open a new issue if this is still a problem for you.

[2020-05-12 17:53] #328 closed

[2020-05-12 17:53] bell-steven commented on #374
It appears that this is resolved.  Feel free to re-open a new issue if this is still a problem for you.

[2020-05-12 17:53] #374 closed

[2020-05-12 17:57] bell-steven commented on #372
Please see the google doc [here](https://developers.google.com/maps/documentation/directions/get-api-key).

This issue is really old, so i'm going to close it.  Feel free to open a new issue if needed.

[2020-05-12 17:57] #372 closed

[2020-05-12 17:59] bell-steven commented on #340
This issue is pretty old, so i'm closing this for now.  Feel free to open a new issue if this is still a problem for you.

[2020-05-12 17:59] #340 closed

[2020-05-12 18:01] bell-steven commented on #335
It appears like this is resolved.  Feel free to open a new issue if this is still a problem for you.

[2020-05-12 18:01] #335 closed

[2020-05-12 19:00] #378 closed

[2020-05-12 19:17] bell-steven commented on #475
Closing, as I can't reproduce this. Please open a new issue (with code reproduction or steps) if you encounter this.

[2020-05-12 19:17] #475 closed

[2020-05-12 19:19] bell-steven commented on #471
I can't reproduce this. Please open a new issue if you encounter this issue.

[2020-05-12 19:19] #471 closed

[2020-05-12 19:21] bell-steven commented on #470
Closing. Please open a new issue (with clear reproduction steps/code) if this is a problem for you.

[2020-05-12 19:21] #470 closed

[2020-05-12 19:21] #467 closed

[2020-05-12 19:24] bell-steven commented on #455
The keyboard will automatically show when you focus the input.

I'm curious to know what the use case for not showing the keyboard might be?

[2020-05-12 19:24] #455 closed

[2020-05-12 19:24] #454 closed

[2020-05-12 19:25] bell-steven commented on #453
I can't reproduce this. Please open a new issue if this problem persists.

[2020-05-12 19:25] #453 closed

[2020-05-12 19:26] bell-steven commented on #452
It looks like this is resolved.  Feel free to open a new issue if this is still a problem for you.

[2020-05-12 19:26] #452 closed

[2020-05-12 19:27] bell-steven commented on #140
You can now set a 'refer' prop in v1.4.2

[2020-05-12 19:28] bell-steven commented on #451
This is now possible (since v1.4.2) using http referrer.  You can set a `refer` prop.

[2020-05-12 19:28] #451 closed

[2020-05-12 19:29] bell-steven commented on #446
I can't reproduce this. Please open a new issue if this is still a problem.

[2020-05-12 19:29] #446 closed

[2020-05-12 19:30] #443 closed

[2020-05-12 19:31] #513 closed

[2020-05-12 19:31] #413 closed

[2020-05-12 19:31] #431 closed

[2020-05-12 19:32] #432 closed

[2020-05-12 19:32] #435 closed

[2020-05-12 19:33] #536 closed

[2020-05-12 19:38] bell-steven commented on #423
Hey, thank for catching this. Would put in  PR?

[2020-05-12 20:10] girish-trabacus opened #549 "How do I limit the google places search result to US only?"
Is there any want I can limit the google places search results to be limited to US only?

Thanks.

[2020-05-12 20:12] #549 closed

[2020-05-12 22:05] FRizzonelli commented on #446
Dude this isn't fixed. I need a moment to create the snack. By the way, if u try to pass the ref of the textinput to googleplaces, and try to call "focus()" on it, it doesn't work.

[2020-05-12 22:05] FRizzonelli commented on #446
Plus, no one answered for like months and you close it after 2 working days.

[2020-05-12 22:51] creative-ae opened #550 "close the result list on result press"
i need to close the result list when i press on a result. any idea how to do that?

[2020-05-13 00:18] bell-steven commented on #446
Feel free to open a new issue.
This is an open source project.  There are no guarantees, SLAs, or support timelines.  I just joined this repo as a maintainer, and I am trying to bring the library up to date and go through the over 100 open issues and 30 PR to get some high priority work done.  This issue was opened last summer and there is one potential answer here with no response.  I thought it

[2020-05-13 00:19] bell-steven commented on #550
Hi, can you please provide some sort of reproducible example of your issue by showing some code or linking to a [snack](https://snack.expo.io)?

[2020-05-13 00:27] bell-steven commented on #525
ping @hthillman

[2020-05-13 00:47] hthillman commented on #525
Sorry, got totally sidetracked. Reviewing late tonight and will have
comments (if any) morning PT

On Tue, May 12, 2020 at 5:27 PM Steven Bell <notifications@github.com>
wrote:

--

*Hunter Hillman*
*Co-Founder, Kinder Inc.*
*401.932.7606*

[2020-05-13 00:48] bell-steven commented on #479
I can't seem to reproduce this.

Please open a new issue if this still doesn't work in the latest version of the library.

![IMG_3321](https://user-images.githubusercontent.com/13405567/81759137-dac90f80-9491-11ea-9aa4-968a28d4c27f.PNG)
![IMG_3320](https://user-images.githubusercontent.com/13405567/81759141-dbfa3c80-9491-11ea-87c0-033d0db9480f.PNG)

[2020-05-13 00:48] #479 closed

[2020-05-13 00:56] bell-steven commented on #429
This would involve seeing what `rowData` passes to the `renderRow` and `renderDescription` functions. There can probably be a few different scenarios, depending on the api used to search etc.  I just joined as a maintainer here, so I honestly am not entirely sure what it does either.

There are currently 45 😱  props available on this component, so it's no surprise that you found one that isn't doc

[2020-05-13 00:56] bell-steven commented on #525
Thanks!

[2020-05-13 09:50] lyudad commented on #431
I rewrite to own component as haven't found solution that time

[2020-05-13 16:31] hthillman commented on #525
Reviewed!

[2020-05-13 18:04] #389 closed

[2020-05-13 18:04] #414 closed

[2020-05-13 18:04] #436 closed

[2020-05-13 18:04] #499 closed

[2020-05-13 18:04] #525 closed

[2020-05-13 18:23] yoilerlp opened #551 "Hi,How can I only show results in a certain country?"
### I need that the result of the buquedad only be of a determining country

  I'm using it like this but it doesn't work for me
 `
query={{
      key: '',
      language: 'es',
      types: 'establishment',
      locationbias: {
        lat:4.570868,
        lng:-74.2973328,
      }
    }}
`

some other way to do it?

Thank you

_edited to remove api key_

[2020-05-13 18:37] bell-steven commented on #551
Please follow the issue template.

There are multiple issues that answer this ([here](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/509#issuecomment-598714550), [here](https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/481#issuecomment-582316741)).

[2020-05-13 18:37] #551 closed

[2020-05-13 18:45] bell-steven opened #552 "[RFC] Library Roadmap"
Short term goals:
- [x] Triage all of the open issues
- [ ] Fix critical bugs in the library
- [ ] Using Current location is broken in RN v0.60.0+ (#541)
- [x] Enable web support (by using a proxy server)
- [x] add typescript definitions

Long terms goals:
- [ ] Update documentation with clear examples
- [ ] Provide a clear write up about the difference Google APIs this library utilizes.
- [ ] Upd

[2020-05-14 02:10] #447 closed

[2020-05-14 02:10] #473 closed

[2020-05-14 02:10] #493 closed

[2020-05-14 02:10] #541 closed

[2020-05-14 02:46] #548 closed

[2020-05-14 02:46] #550 closed

[2020-05-14 02:48] #532 closed

[2020-05-14 02:48] #528 closed

[2020-05-14 02:50] #488 closed

[2020-05-14 02:50] #529 closed

[2020-05-14 02:50] #538 closed

[2020-05-14 09:07] nikolajordanovski commented on #538
@bell-steven Thank you for the feedback, will look into it, tho based on the code I believe the onFail is never triggered

[2020-05-14 14:53] LuizFBrisighello commented on #393
@Skullcan Any updates?

[2020-05-14 20:17] bell-steven commented on #393
Feel free to put on a PR.

[2020-05-15 17:47] LuizFBrisighello commented on #393
Just found a problem with `uuid`, it used `crypto-js` wich https://stackoverflow.com/a/29836505

[2020-05-15 18:33] bell-steven commented on #393
From some other reading I've done, I believe there are uuid packages that work fine on React Native.  I would really like to try and avoid adding another dependency, especially if it I only there to support a single library feature.  React Native doesn't support optional imports (yet -it just landed in metro, but it won't be available until RN 0.63 at a minimum).

[2020-05-15 18:40] LuizFBrisighello commented on #393
I totally agree. Just for test purposes, for now, im just generating the token with a simple function.

[code]

[2020-05-15 19:42] Gabrielfcs opened #554 "Missing prop predefinedPlacesAlwaysVisible"
I'm using the `predefinedPlacesAlwaysVisible` support in my project, but upgrading from v1.4.1 to 1.6.0 I received an error saying that the above prop is missing and I believe it was forgotten to add it to the types file, right?

I believe that the correct place to put this type is below the following line:
https://github.com/FaridSafi/react-native-google-places-autocomplete/blob/645ec590e1dd3c6e5

[2020-05-15 21:53] Gabrielfcs commented on #554
I'm closing this issue because it was added in PR #555

[2020-05-15 21:54] bell-steven commented on #554
Just re-opening this until a fix is merged in.

[2020-05-15 23:17] #554 closed

[2020-05-16 13:33] nullmicgo commented on #273
Thank you @dharam1890

[2020-05-17 04:21] bell-steven commented on #376
Hey. I can't reproduce this.  Please open a new issue if this is still a problem.

[2020-05-17 04:21] #376 closed

[2020-05-17 04:29] bell-steven commented on #410
Hey.

I just spent some time digging into this. I don't have an any list displayed when there are no results.

I agree that there can be a better way to indicate that something is loading.

Feel free to put in a PR.

[2020-05-17 05:23] bell-steven commented on #419
From what I understand, this is more of a general React Native issue.

Here is a something that I just put together and tested quickly that should work.
[code]

I am going to close this for now, as it's not really a bug or issue that is specific to the library.  Feel free to comment or open a new issue if you feel otherwise.

[2020-05-17 05:23] #419 closed

[2020-05-17 05:27] bell-steven commented on #460
I just tried using the code you provided, and it worked fine for me. Please open a new issue with reproducible example if this is still a problem for you.

[2020-05-17 05:27] #460 closed

[2020-05-17 05:30] bell-steven commented on #487
It isn't very clear to me what the issue is here. Please open a new issue (please follow the issue template) if you encounter this.

[2020-05-17 05:30] #487 closed

[2020-05-17 05:37] bell-steven commented on #422
I just tried reproducing this using the setState hook, and it worked fine for me. Please open a new issue (please follow the issue template) if this is still a problem for you.

[2020-05-17 05:37] #422 closed

[2020-05-17 05:46] bell-steven commented on #482
@edoantonioco you can please provide a sample of you <GoogleAutocomplete />` component?

I just tested this using this, and I got everything back.
[code]

Are you using the GooglePlacesDetailsQuery prop?

[2020-05-17 12:21] oporter1 opened #557 "Upgrade React Native V .61 On Select Does Not Work"
#### Describe the bug
I updated to react native version 0.61.4 and now onSelect is not working. I am able to populate the places in the search box successfully, but when I go to select the location nothing happens. I can not select or generate any data or details about the location.

#### To Reproduce
Steps to reproduce the behavior:

1. Set up GooglePlacesAutocomplete as github describes (https:/

[2020-05-17 14:19] bell-steven commented on #557
Hey, thanks for the detailed report and following the issue template.

I just spent some time trying to reproduce this.  I wasn't seeing any issues.  Is there more to the component than what you posted above?

I tried this on an android device and in a snack.  You can see the snack [here](https://snack.expo.io/@sbell/disrespectful-waffles).

[2020-05-18 04:40] jamesa3 commented on #250
Any updates on this?

[2020-05-18 12:17] bell-steven commented on #250
@jamesa3 this issue is closed. Please open a new issue (please allow the issue template).

[2020-05-18 13:51] lukBakTsh opened #558 "Referer parameter"
### Question

How to use the `referer` parameter correctly?
If this parameter works only for the Web, how can I restrict access to the key for the Android/iOS app?

### My current settings:

[code]

and `http://example.com` item in the **GCP** -> **Application restrictions** -> **HTTP referrers** for **Google Places API**

### Response

[code]

#### Where is this problem happening

- [x] iOS
- [x]

[2020-05-18 22:53] oporter1 commented on #557
I just ripped away everything from the component and found something interesting, I just removed the KeyboardAwareScrollView that was surrounding the GooglePlacesAutoComplete and it is working. I tried with just ScrollView and it, again, is not working. I tried with SafeAreaView and it **is** working. So there seems to be a conflict with ScrollView and GooglePlacesAutoComplete...have you seen this

[2020-05-18 23:00] oporter1 commented on #557
ah I got it. This article helped a lot - https://medium.com/codespace69/react-native-react-native-google-places-autocomplete-onpress-callback-not-working-23ddf2f7a98f - I needed to add the `keyboardShouldPersistTaps` to the ScrollView tag...not the GooglePlacesAutoComplete

[2020-05-18 23:20] bell-steven commented on #557
Yup, this does not play nicely with scrollView. This is an issue I want to try and work on when I have some time, because so many people struggle with this.  There are a ton of issues about it.

Glad you got this sorted out!

[2020-05-18 23:20] #557 closed

[2020-05-19 00:25] bell-steven commented on #558
Hey @lukBakTsh thanks for the report and for following the issue template.
I just tried this, and this is definitely an issue.  This was added recently (before I started maintaining the package, so I never tested this).

I pinged the author of the PR for this, i'll update this if/when I hear back.

[2020-05-19 00:29] bell-steven commented on #482
This issue is pretty old, and it doesn't seem like i'm getting a response. I am going to close this issue. Please open a new issue (please be sure to follow the issue template) if you encounter this again.

[2020-05-19 00:29] #482 closed

[2020-05-19 00:31] #458 closed

[2020-05-19 05:11] jamesa3 opened #559 "textInputProps Typescript bug"
#### Describe the bug

textInputProps causes "No overload matches this call" with TS.

#### To Reproduce

Steps to reproduce the behavior:

Use Typescript and add textInputProps

![Screen Shot 2020-05-19 at 15 09 22](https://user-images.githubusercontent.com/31718549/82287162-e614c180-99e2-11ea-8b1c-65d053445a47.png)

[2020-05-19 13:42] bell-steven commented on #515
Hi, i'm having a little bit of trouble trying to understand your issue. What are you trying to achieve? Can you provide some sort of code example to illustrate your issue a bit more?

[2020-05-19 13:45] bell-steven commented on #524
I am closing this, as there hasn't been any response.

`the.state.text` gets the result of the `getDefaultValue` prop.  You can also set it using a ref (setAddressText).

[2020-05-19 13:45] #524 closed

[2020-05-19 14:16] bell-steven commented on #510
@andymurakami I just ran your component file with no issues (See [this](https://snack.expo.io/@sbell/disrespectful-waffles) snack).

I did not use the index.js that you provided, as `react-native-maps` and `@react-native-community/geolocation` are not supported in expo.

My guess is that your problem lies in your index.js file. Try adding `style={{ flex: 1 }}` to the `Search` component.

If you pr

[2020-05-19 14:27] bell-steven commented on #503
@ahmadali9289 using the code you provided, this works as expected for me.

You didn't indicate what these functions do, this could be the problem.
Another likely cause is that your component is wrapped within a `ScrollView`.

[2020-05-19 15:15] sapter commented on #558
@bell-steven
The prop `referrer` is correct. Meaning that the Places API being intended by Google to be for web does accept that prop. That said, it is true that using it in an iOS/Android app makes no sense and will not pass the referrer validation. That is because the whole idea of adding that prop is to restrict the use of your API key to only those who come from your own website/webapp. Howeve

[2020-05-19 16:44] bell-steven commented on #559
PR was reverted. See [#560(comment)](https://github.com/FaridSafi/react-native-google-places-autocomplete/pull/560#issuecomment-630942327).

[2020-05-19 19:05] Skullcan commented on #393
Hi, Sorry for the delay in the response.

I ended up following the Docs in the [Google Places API](https://developers.google.com/places/web-service/session-tokens) and doing exactly what you said.

I have a function to generate a token per component render and stored it in the state:

In the component, I used the same prop you have in your example.. passing this sessionToken

Worked like a charm f

[2020-05-19 19:50] bell-steven commented on #393
@Skullcan can you put in a PR? I'll get this merged right away.

[2020-05-19 20:00] Skullcan commented on #393
Sure, I'll get to this when I'm done with work later.

[2020-05-19 20:24] bell-steven commented on #393
What do you all think about how this should be implemented?

There are a couple of ways to go about this, but basically its
1) Add instructions to the readme about how use sessions tokens (it doesn't seems like there are too many steps). This technically does not need to be in the library, because you should be able to do it already in the `query` prop.
2) Add a sessionToken prop to the library, w

[2020-05-19 20:42] Skullcan commented on #393
I was thinking of doing the option number two.
Is the way easier for the end user. But also the more invasive and have to be implemented carefully to not break earlier versions.

1. Have a prop in the library, if true, automatically set a session token.

[2020-05-19 20:51] Skullcan commented on #393
I was going to do following option two.
But both ways works I guess.

I'd say handling in the library is the easier way for the end user.

1. Add a prop to the library, if true, automatically set the session using a default function.
2. Default the prop to false, so it's not a breaking change.
3. Have a prop so people can use their custom function to generate the sessionToken?

The function I post

[2020-05-19 21:03] bell-steven commented on #393
I prefer option two.

I am extremely weary of adding more props to the library, as there are already almost 50 props available (I am trying to document them all, see my effort here).

In terms of API design, I like numbers 1 and 2 from above.  As I said, I don't want to add another prop, especially one that passes in a function, it's a little bit of a blackhole. In addition, passing in a function

[2020-05-19 21:07] Skullcan commented on #393
Sure, sounds great to me!
Hope others interested give some feedback and I'll gladly try to implement this.

[2020-05-19 22:44] bell-steven commented on #390
You can try adding an onBlur function to `textInputProp`.

[2020-05-19 22:49] bell-steven commented on #438
I don't believe that this is possible with the Google Places API.

[2020-05-19 22:50] #476 closed

[2020-05-19 23:01] #383 closed

[2020-05-19 23:05] bell-steven commented on #415
You can use the `textInputProps`.

`textInputProps={
    selectionColor: 'red',
}}`

[2020-05-19 23:05] #415 closed

[2020-05-19 23:11] #509 closed

[2020-05-20 01:45] bell-steven commented on #433
Hey, you can use the `renderRow` prop to pass in your own row component.
Here is an example:
[code]

![IMG_ED54472E26E8-1](https://user-images.githubusercontent.com/13405567/82395702-0f9d0f80-9a1a-11ea-8ead-3db907a01634.jpeg)

[2020-05-20 01:45] #433 closed

[2020-05-20 01:51] #559 closed

[2020-05-20 03:22] bell-steven commented on #381
You can achieve this layout by using the `renderRow` prop to put an icon before the predefined place and the `renderLeftButton` to put an image in the text input.  You can also use pass in a custom TextInput component in `textInputProps`.

Example Code:
[code]

[2020-05-20 03:22] #381 closed

[2020-05-20 03:32] bell-steven commented on #448
There are no methods available for this library that can tell you how many results are being returned by the api.

[2020-05-20 03:32] #448 closed

[2020-05-20 03:35] bell-steven commented on #497
There is nothing built in that can give you this.
You could try and set the height of the component to only have enough space for 3 results.
You can also try and setting a counter in render row and only render the first 3 results.

[2020-05-20 03:35] #497 closed

[2020-05-20 03:52] bell-steven commented on #441
You can use provide a custom TextInput component in the `textInputProps` prop.

Example Code:
[code]

[2020-05-20 03:52] #441 closed

[2020-05-20 03:54] bell-steven commented on #484
You can use the `renderRow` prop for this.

[code]

[2020-05-20 03:54] #484 closed

[2020-05-20 11:37] FrozenPyrozen commented on #400
Here is solution.
Don't forget to add `fetchDetails` prop on your `<GooglePlacesAutocomplete/>` component. Then in `onPress` will be provided `details` where you can find `address_components` and `postal_code` will be here.

Address components:
[code]
My example:
[code]

[2020-05-20 14:00] bell-steven commented on #508
Hi @londri2go I just tried the code you provided and I could not replicate the issue.
Can you please provide a complete reproducible code example or a [snack](https://snack.expo.io)?

[2020-05-20 14:29] bell-steven commented on #338
Google does not return the image url directly from the api. See the Google Place Photos [doc](https://developers.google.com/places/web-service/photos) for more details.

In GooglePlacesAutocomplete:
[code]

You would then make an API call to the Google API with the photo reference, your API key and the size requested and it will return the image.  Something like this:
[code]

[2020-05-20 14:29] #338 closed

[2020-05-20 15:11] #423 closed

[2020-05-20 15:11] #558 closed

[2020-05-20 15:12] bell-steven commented on #558
@lukBakTsh I removed the referrer prop, as there doesn't seem to be any way to make it work without the Google SDKs.

[2020-05-20 15:14] #496 closed

[2020-05-20 15:33] bell-steven commented on #496
fixed in 1.7.0.

[2020-05-20 20:46] Eduardo-Julio commented on #525
Very well explained and a great solution to prevent loading useless files from Google. We are using another JS framework but this is quite helpful, thanks.

[2020-05-20 21:42] plaporte opened #566 "Description list stays open after attempting to type in a different text input"
After selecting an item in from the google places description list, it will close, however when moving to the next textInput and typing, the description list opens back up. Here's a gif:

![ezgif com-resize](https://user-images.githubusercontent.com/23533193/82499821-f77bcd80-9ab7-11ea-8b09-d9e4e2f97ca5.gif)

#### Expected behavior
I expect it to close until I tap back into the google places text

[2020-05-20 21:54] bell-steven commented on #566
Thanks for reporting this. Would you mind provided a full code reproduction of the issue? In the meantime, the `listViewDiplayed` prop might help you out here.

[2020-05-20 22:35] bell-steven commented on #566
I was able to reproduce this.  There is actually a PR open already that should solve this. #398

[2020-05-20 23:20] #566 closed

[2020-05-20 23:24] bell-steven commented on #566
Fixed in v1.7.1

[2020-05-21 04:06] bell-steven commented on #498
The default for the `clearButtonMode` prop (which is only available for iOS), is set to `'while-editing'`. See the React Native [docs](https://reactnative.dev/docs/textinput#clearbuttonmode) for more.

You can override this in `textInputProps`.

I just tested this and it worked for me.  If you believe that this is a bug, please provide reproducible code example, or a snack, and i'll be happy to ta

[2020-05-21 13:48] plaporte commented on #486
No idea what you mean by this. How can I fix the issue, do you have code examples?

[2020-05-22 14:42] #438 closed

[2020-05-22 14:44] bell-steven commented on #503
I can't reproduce this, so i'm going to close this. If you encounter this, and this is still a problem for you, please open a new issue (please follow the issue template).

[2020-05-22 14:44] #503 closed

[2020-05-22 14:44] bell-steven commented on #508
I can't reproduce this, so i'm going to close this. If you encounter this, and this is still a problem for you, please open a new issue (please follow the issue template).

[2020-05-22 14:44] #508 closed

[2020-05-22 14:45] bell-steven commented on #510
I can't reproduce this, so i'm going to close this. If you encounter this, and this is still a problem for you, please open a new issue (please follow the issue template).

[2020-05-22 14:45] #510 closed

[2020-05-22 14:46] bell-steven commented on #515
This doesn't seem to be active. Please open a new issue (please follow the issue template) if this is an issue for you.

[2020-05-22 14:46] #515 closed

[2020-05-23 00:27] DranoelMit commented on #140
@bell-steven
The 'refer' prop has been removed as of 2 days ago (1.7.0)
Is this package just unusable in any production app since there is no way to restrict the key?

[2020-05-23 05:03] fbotalla opened #567 "List of places keeps popping up when trying to type on a different textInput"
[code]

Above is my component. Each time I click on different `<TextInput>` and I start to type, the drop-down with all the places that I found previously opens up. How do I disable this behavior?

[2020-05-24 01:58] bell-steven commented on #567
Please follow the issue template.  If the information in the template is provided, I can try and help you out.

[2020-05-24 02:14] bell-steven commented on #140
@DranoelMit Yes, indeed it was removed (it actually never worked).
In terms of the package being usable in production, that is something that every user of this package has to decide for themselves.  For some it is a deal breaker, and many others have no need for a restricted key.

Just to be clear, you can "restrict" the key, but "application restrictions" cannot be used.
It isn't very hard to fi

[2020-05-24 06:28] fbotalla commented on #567
@bell-steven Thank you for redirecting me to the documentation. Would this only work with a class component? What if I wanted to only use this as a functional component?

[2020-05-24 12:14] bell-steven commented on #567
It doesn't matter what type of component you use, class or functional.  What version of the library are you using?

[2020-05-24 18:43] fbotalla commented on #567
I am using  "react-native-google-places-autocomplete": "^1.7.1"

[2020-05-24 19:28] bell-steven commented on #567
Can you provide a minimal code reproduction either here or in a [snack](https://snack.expo.io)?

[2020-05-24 22:57] fbotalla commented on #567
@bell-steven Never mind, I ran an npm update on the project and it works great now!

[2020-05-24 22:57] #567 closed

[2020-05-24 22:58] bell-steven commented on #567
No worries. Glad you got it sorted out.

[2020-05-25 01:13] bell-steven commented on #373
The `GooglePlacesSearchQuery` is used when `currentLocation={true}` and `nearbyPlacesAPI='GooglePlacesSearch'`.
In that case, we are calling a different API, so the query is a little different. See the Google [docs](https://developers.google.com/places/web-service/search#PlaceSearchRequests) for more details and options.

The `query` prop is used for regular text search.  See the Google doc [here]

[2020-05-25 01:43] bell-steven commented on #390
This issue is over a year old. I am going to close it. If you encounter this, and it is still a problem for you, please open a new issue (please try and follow the issue template).

[2020-05-25 01:43] #390 closed

[2020-05-25 01:51] bell-steven commented on #408
Hi @AarshApple.  You can use the '(region)' [type](https://developers.google.com/places/web-service/autocomplete#place_types) in the `query` prop.

[code]

![IMG_21947660E080-1](https://user-images.githubusercontent.com/13405567/82770893-41dab280-9e08-11ea-951d-7859a7809fac.jpeg)

If you are looking to only search within a specific country use
[code]

[2020-05-25 01:52] #408 closed

[2020-05-25 01:55] bell-steven commented on #412
@AarshApple can you provide a sample of your query prop?  By default, only addresses are shown.

[2020-05-25 03:20] fbotalla opened #570 "Android vs iOS erasing system"
I noticed that in iOS when I type a place I get a little 'x' at the very end of the textarea. When I click on that x, the entire content is erase. When I try to do the same on Android and I do not have the 'x' at the end of the textarea. Therefore, in order for me to erase the content I have to either select all or delete one char at a time.

Is this a feature that can be implemented on Android al

[2020-05-25 06:18] ansalmishra10 commented on #486
still encountering this issue

[2020-05-25 13:33] bell-steven commented on #570
The `clearButtonMode` prop is only available for iOS. See the React Native [docs](https://reactnative.dev/docs/textinput#clearbuttonmode) for more.

You can pass in a custom TextInput component to `textInputProps`.
You can also use the `renderRightButton` prop.

[2020-05-25 15:00] bell-steven commented on #424
@arnoldc This is not officially supported, but it can be done.

[code]

[2020-05-25 15:00] #424 closed

[2020-05-25 15:04] bell-steven commented on #520
This is not currently possible, as the [API](https://developers.google.com/places/web-service/autocomplete) we are using does not return this information. You can get the postal code when you press on a result.

This may be added in a future version though.

[2020-05-25 15:04] #520 closed

[2020-05-25 21:17] bell-steven commented on #393
@Skullcan I wouldn't wait around too long for a response. I would tell you to just go for it 😃

[2020-05-26 07:31] a--hoang commented on #499
posting here in case it helps anyone - there were two things that I had to do to get me unstuck (**am using expo**)

1) i was using the "Get current location" option so i needed to set navigator.geolocation. expo has a package that does this for you: expo-location (i had issues with the two recommended packages in the instructions - from README:
// navigator.geolocation = require('@react-native-co

[2020-05-26 10:29] Skullcan commented on #393
Sure. Already started something, but didn't had the time to finish yet. Crazy Week.

[2020-05-26 14:11] #498 closed

[2020-05-27 02:27] #570 closed

[2020-05-28 20:49] harshvitra commented on #187
@bYemma @PatelAtit2017 Did you guys found a work around.

[2020-05-28 21:10] bYemma commented on #187
No, sorry. No solution found for this problem.

[2020-06-01 00:03] #412 closed

[2020-06-04 06:21] fbotalla commented on #155
How can I go about doing this without having a class component?

[2020-06-08 14:56] Sandipnag opened #571 "How to populate list when I am using custom TextInput using InputComp inside textInputProps"
# Problem

React Native Version: - 0.62.2
react-native-google-places-autocomplete Version: - ^1.7.1
I want to use csutom TextInput Component, so I have used InputComp inside  textInputProps. But when i am using this place list is not populating anymore.

If I am doing something wrong , a little help is needed.
Thanks in advance
#Code -
Here  is my sample code:-
[code]
Steps to reproduce the behavi

[2020-06-08 15:47] bell-steven commented on #571
- your code is not a fully reproducible example.
- What are you trying to solve here?  If you are looking to style the component differently, there is no need for a custom component. You can style the textInput with in styles.

Here as an example of the styling you applied in the style prop.  I also removed a bunch of redundant props.
[code]

[2020-06-10 04:07] #571 closed

[2020-06-10 14:11] JavierLaguna opened #572 "Bug Report - onPress callback is not working"
# Describe the bug

The function callback on onPress prop is not working when I tap on a item result

# Reproduction - (required - issue will be closed without this)

Search an address and select one item of the result list

**Please provide a FULLY REPRODUCIBLE example.**

<details>
  <summary>Click to expand!</summary>
  Search an address and select one item of the result list, the console.log i

[2020-06-10 14:19] #572 closed, assigned to nobody

[2020-06-13 18:47] kelvin-dev commented on #367
Please reopen the issue, i just got it

[2020-06-13 19:55] Zeshan316 opened #573 "Showing default value in autocomplete"
- issue is same as reported here [https://github.com/FaridSafi/react-native-google-places-autocomplete/issues/524](url)
**- I want to show value in field in update mode**
- Lets say i've place this code inside some child component
-  Inside componentUpdate i'm updating state with latest value but that value do not show in field

[code]

[2020-06-13 20:38] #573 closed

[2020-06-13 20:40] Zeshan316 commented on #573
I've solved this using, **by the way this function still need to be fix getDefaultValue to show default value even after update state of component**

[code]

[2020-06-13 21:28] kelvin-dev opened #574 "support new prop for customized navigator"
![screenshot-2020-06-14_04 27 26 663](https://user-images.githubusercontent.com/19224355/84579368-628a9c80-adf7-11ea-9a5d-f7537cd86ec2.png)

[2020-06-14 02:08] bell-steven commented on #367
@kelvin-dev please open a new issue if you are having a problem.

[2020-06-14 02:14] bell-steven commented on #574
@kelvin-dev What version of the library are you using? This was removed in v1.6.0.
Take a look at #541 for more context. Always open to new ideas though...

[2020-06-14 14:40] #574 closed

[2020-06-15 17:48] kelvin-dev opened #575 "Cannot get search position (lat,lng) - null result"
Please help check the callback onPress={(data, details = null) => { console.log(data, details}; with fetchDetails = true

![screenshot-2020-06-16_00 45 47 425](https://user-images.githubusercontent.com/19224355/84689336-0779b680-af6b-11ea-9ca8-2c1caf1d7f16.png)

[2020-06-15 17:51] bell-steven commented on #575
Please follow the issue template.

[2020-06-15 18:18] #575 closed

[2020-06-16 17:26] itsGabriel commented on #503
i'm facing the same problem, but only happens with IOS. I cant click in none of listview items(except if i click randomly several times over they)

[2020-06-16 17:29] itsGabriel commented on #572
i'm facing the same problem, but only happens with IOS. I cant click in none of listview items(except if I click randomly several times over they).I'm not wraping a `scrollview` btw its inside a `safeareaview`

[2020-06-16 17:41] bell-steven commented on #572
@itsGabriel can you try using `<SafeAreaView />` from `[react-native-safe-area-context](https://github.com/th3rdwave/react-native-safe-area-context)`?

I've run into the same thing before. If you drop a link to a snack i'll be happy to take a look.

[2020-06-18 03:44] dakkafex opened #576 "Doesnt work"
The component doesnt work as intended, no search results at all

**how to recreate:**

Start fresh react native project(not expo) and copy the example code.
Or even easier, check your own [Snack](https://snack.expo.io/@sbell/react-native-google-places-autocomplete)

react-native version: 0.61

[2020-06-18 12:33] bell-steven commented on #576
Please follow the issue template. It very much does work.

_p.s.  Try and use a valid API key, it might do wonders_ 😉

[2020-06-18 12:33] #576 closed

[2020-06-19 02:09] ynigoreyes opened #577 "onFail type missing from .t.ts file"
Get error in linting when I use onFail prop

I will be sending in a PR for this as it's a really easy fix